new n8n.json
{
  "name": "Phase1_Job_Lifecycle_Pilot  555",
  "nodes": [
    {
      "parameters": {
        "path": "job",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4256,
        0
      ],
      "id": "cf123dac-0129-4ea4-9464-954d31d8eb5c",
      "name": "Get Job By ID",
      "webhookId": "fb04e332-9635-4e9c-8d38-37c6ce14b68c"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "jobs",
        "documentId": "={{$json.query.job_id}}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -4032,
        0
      ],
      "id": "d14afe59-0f4f-4abc-b0a4-e7487b564f60",
      "name": "Firestore: Get Job",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "users",
        "documentId": "={{$json.query.user_id}}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -4032,
        224
      ],
      "id": "71babc03-f6e0-4b5e-8766-e1c0164631f5",
      "name": "Firestore: List Jobs",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-approve",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4256,
        448
      ],
      "id": "68b6ffde-3f4e-44ce-a254-885486c644e3",
      "name": "Job Approve",
      "webhookId": "9faf11c2-1aad-4ac9-b70c-46fe29b0ab46"
    },
    {
      "parameters": {
        "path": "jobs",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4256,
        224
      ],
      "id": "162bd8c3-d969-4fdb-8aea-d509c1beda42",
      "name": "Get All Jobs",
      "webhookId": "13f8521b-712e-4b71-abc9-d3a365efc122"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-reject",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4256,
        672
      ],
      "id": "04f2c1a5-1e14-45ff-b4a6-37bcb29d5ed9",
      "name": "Job Reject",
      "webhookId": "bfbd7fa0-1adc-43d9-be6c-fc32d9def301"
    },
    {
      "parameters": {
        "jsCode": "// Read directly from Firestore document\nconst job_id = $json.job_id;\n\n// If this node is triggered after a webhook, keep fallback\nconst reason =\n  $json.reason ||\n  $json.body?.reason ||\n  \"Rejected by operator\";\n\nif (!job_id) {\n  throw new Error(\"Missing job_id in Firestore document\");\n}\n\nif ($json.status !== \"AWAITING_APPROVAL\") {\n  throw new Error(\"Rejection allowed only when status is AWAITING_APPROVAL\");\n}\n\nreturn [\n  {\n    json: {\n      job_id,\n      status: \"rejected\",   // correct state transition\n      rejected_at: new Date().toISOString(),\n      rejected_by: \"operator\",\n      failure_reason: reason\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3808,
        672
      ],
      "id": "411f3f58-c139-4798-815d-26d3293f03a3",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "jobs",
        "updateKey": "job_id",
        "columns": "job_id,status,approved_at,approved_by,updated_at"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -3376,
        448
      ],
      "id": "6e1d80dd-fc54-41c7-8c57-a4fcd0b82a4f",
      "name": "Firestore: Update Approved",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "jobs",
        "updateKey": "job_id",
        "columns": "status, rejected_at, rejected_by, failure_reason"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -3584,
        672
      ],
      "id": "7ea0a891-4712-4808-aca8-b0b8e7cac749",
      "name": "Firestore: Update Rejected",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Firestore returns document fields directly in $json\nconst job_id = $json.job_id;\n\nif (!job_id) {\n  throw new Error(\"Missing job_id in Firestore document\");\n}\n\nif ($json.status !== \"AWAITING_APPROVAL\") {\n  throw new Error(\"Approval allowed only when status is AWAITING_APPROVAL\");\n}\n\nreturn [\n  {\n    json: {\n      job_id,\n      status: \"approved\",\n      approved_at: new Date().toISOString(),\n      approved_by: \"operator\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3808,
        448
      ],
      "id": "79851429-c539-42fe-9e3b-a99a8c566ef3",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "jobs",
        "documentId": "={{ $json.body.job_id }}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -4032,
        448
      ],
      "id": "c102fd07-a5f7-4b0e-9d01-3eb05fc2f149",
      "name": "Firestore: Get Job2",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "jobs",
        "documentId": "={{ $json.body.job_id }}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -4032,
        672
      ],
      "id": "391f91fb-01be-47cf-99fa-b5038622d370",
      "name": "Firestore: Get Job3",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fork-simulate",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4256,
        992
      ],
      "id": "83750344-dc86-4c32-824e-9383aafba76e",
      "name": "Fork Simulate",
      "webhookId": "22ce60d6-9b70-4414-811c-a33b25eb1814"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "jobs",
        "documentId": "={{ $json.body.job_id }}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -4032,
        992
      ],
      "id": "a47fe8fa-4a88-4990-9ab5-f98bf0dc01c2",
      "name": "Firestore: Get Job4",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Canonical job from Firestore (this node input)\nconst job = $json;\n\n// Incoming attempt from webhook\nconst body = $node[\"Fork Simulate\"].json.body || {};\n\nconst incoming_job_id = body.job_id;\nconst incoming_identity_id = body.identity_id;\nconst attempted_by = body.attempted_by || \"unknown\";\nconst reason = body.reason || \"duplicate instantiation test\";\n\nif (!incoming_job_id) throw new Error(\"Missing job_id in fork-simulate payload\");\nif (!incoming_identity_id) throw new Error(\"Missing identity_id in fork-simulate payload\");\n\nif (!job || !job.job_id) throw new Error(\"Canonical job not found in Firestore\");\nif (!job.identity_id) throw new Error(\"Canonical job missing identity_id (did you update Initialize Job + Firestore columns?)\");\n\n// Terminal statuses (fork attempts allowed only if canonical job is already terminal)\nconst TERMINAL = [\"completed\", \"rejected\", \"failed\"];\nconst isTerminal = TERMINAL.includes(String(job.status || \"\").toLowerCase());\n\n// Fork detection\nconst identityMatches = String(incoming_identity_id) === String(job.identity_id);\n\nlet fork_detected = false;\nlet fork_status = \"allowed\";\nlet block_reason = \"\";\n\nif (identityMatches && !isTerminal) {\n  fork_detected = true;\n  fork_status = \"fork_quarantined\"; // or \"blocked\"\n  block_reason = `Duplicate identity detected. Canonical job ${job.job_id} is still active (status=${job.status}).`;\n}\n\n// Create a safe event id\nconst ts = new Date().toISOString().replace(/[:.]/g, \"-\");\nconst fork_event_id = `fork-${ts}-${job.job_id}`;\n\n// ✅ Fields your Firestore fork_events collection should store\nconst action_taken = fork_detected ? \"quarantined\" : \"allowed\";\n\nreturn [{\n  json: {\n    // ---- fork_events schema (so Firestore can write without per-field mapping)\n    event_id: fork_event_id,\n    job_id: job.job_id,\n    identity_id: job.identity_id,\n    attempted_by,\n    reason,\n    created_at: new Date().toISOString(),\n    block_reason,\n    action_taken,\n\n    // ---- keep extra debug info (optional, safe)\n    fork_detected,\n    fork_status,\n\n    canonical_job_id: job.job_id,\n    canonical_status: job.status,\n    canonical_identity_id: job.identity_id,\n\n    incoming_job_id,\n    incoming_identity_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3808,
        992
      ],
      "id": "4a0fabc0-587f-4986-9165-352e5990abf7",
      "name": "Fork Detector"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "agent_instances",
        "updateKey": "instance_id",
        "columns": "instance_id,agent_id,identity_fingerprint,status,started_at,last_seen_at,ended_at,host_build_id,runtime_version"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -3104,
        992
      ],
      "id": "f26a4921-7b0a-4af9-b582-3e405cc76790",
      "name": "Firestore: Update Rejected1",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "agents",
        "updateKey": "agent_id",
        "columns": "agent_id, display_name, agent_class, owner_org_id, acelogic_id, identity_fingerprint, canonical_identity_json, mission_hash, policy_hash, identity_version, public_key, jurisdiction, governance_profile, mission, continuity_status, continuity_current_instance_id, continuity_lease_expires_at, continuity_last_seen_at, continuity_resurrection_count, continuity_fork_flag, covenant_hash, cvr_polygon, cvr_xrpl, created_at"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -3808,
        2336
      ],
      "id": "1cb09507-9aa9-420c-85ae-3105d495787c",
      "name": "Firestore: Update Completed2",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-agent",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4256,
        2336
      ],
      "id": "19fb4c71-8c18-48f6-aaec-6d8b38c7d1ec",
      "name": "Webhook1",
      "webhookId": "7bd3e331-7ba7-40e4-a370-1d26319afc31"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require(\"crypto\");\nconst b = $json.body || {};\n\nconst s = (v) => (v === null || v === undefined ? \"\" : String(v).trim());\nconst hex = (v) => {\n  if (v === null || v === undefined || v === \"\") return null;\n\n  const raw = String(v).trim()\n    .replace(/^hex:/i, \"\")\n    .replace(/^0x/i, \"\");\n\n  return `hex:0x${raw}`;\n};\n\nconst sha256 = (value) =>\n  crypto.createHash(\"sha256\").update(String(value)).digest(\"hex\");\n\nif (!s(b.agent_id)) throw new Error(\"missing_agent_id\");\nif (!s(b.owner_org_id)) throw new Error(\"missing_owner_org_id\");\nif (!s(b.governance_profile)) throw new Error(\"missing_governance_profile\");\nif (!s(b.jurisdiction)) throw new Error(\"missing_jurisdiction\");\nif (!s(b.mission)) throw new Error(\"missing_mission\");\n\n// immutable identity ingredients\nconst mission = s(b.mission);\nconst policy = s(b.policy || \"NXQ_DEFAULT_POLICY\");\nconst identity_version = s(b.identity_version || \"v1\");\nconst public_key = s(\n  b.public_key ||\n  b.card_public_key ||\n  b.acelogic_card?.public_key ||\n  \"\"\n);\n\nconst mission_hash = hex(sha256(mission));\nconst policy_hash = hex(sha256(policy));\n\n// canonical identity object: ONLY immutable fields\nconst canonical_identity_json = {\n  agent_id: s(b.agent_id),\n  governance_profile: s(b.governance_profile),\n  identity_version,\n  jurisdiction: s(b.jurisdiction),\n  mission_hash,\n  owner_org_id: s(b.owner_org_id),\n  policy_hash,\n  public_key\n};\n\n// sorted-key canonical string\nconst canonical_identity_json_string = JSON.stringify(\n  Object.keys(canonical_identity_json)\n    .sort()\n    .reduce((acc, key) => {\n      acc[key] = canonical_identity_json[key];\n      return acc;\n    }, {})\n);\n\nconst identity_fingerprint = hex(sha256(canonical_identity_json_string));\n\nreturn [{\n  json: {\n    agent_id: s(b.agent_id),\n    display_name: s(b.display_name),\n    agent_class: s(b.agent_class),\n    owner_org_id: s(b.owner_org_id),\n    acelogic_id: s(b.acelogic_id),\n\n    identity_fingerprint,\n    canonical_identity_json,\n    mission_hash,\n    policy_hash,\n    identity_version,\n    public_key,\n\n    jurisdiction: s(b.jurisdiction),\n    governance_profile: s(b.governance_profile),\n    mission,\n\n    continuity_status: s(b.continuity?.status ?? \"ACTIVE\"),\n    continuity_current_instance_id: b.continuity?.current_instance_id ?? null,\n    continuity_lease_expires_at: b.continuity?.lease_expires_at ?? null,\n    continuity_last_seen_at: b.continuity?.last_seen_at ?? null,\n    continuity_resurrection_count: Number(b.continuity?.resurrection_count ?? 0),\n    continuity_fork_flag: Boolean(b.continuity?.fork_flag ?? false),\n\n    covenant_hash: hex(\n      b.anchors?.covenant_hash ??\n      identity_fingerprint\n    ),\n    cvr_polygon: b.anchors?.cvr_polygon ? hex(b.anchors.cvr_polygon) : null,\n    cvr_xrpl: b.anchors?.cvr_xrpl ? hex(b.anchors.cvr_xrpl) : null,\n\n    created_at: s(b.created_at ?? new Date().toISOString())\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4032,
        2336
      ],
      "id": "d96334ee-690e-4a7b-ae65-48e99a196b0a",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "agent_instances",
        "updateKey": "instance_id",
        "columns": "instance_id,agent_id,identity_fingerprint,status,started_at,ended_at,last_seen_at,host_build_id,runtime_version"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -2640,
        1360
      ],
      "id": "a3e3c632-c1c1-4a86-ac35-ad78d548e0ab",
      "name": "Firestore: Update Completed3",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "agents",
        "documentId": "={{ $json.agent_id }}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -3648,
        1520
      ],
      "id": "9bfac780-841f-4018-9452-ec0fb03286b2",
      "name": "Get Agent",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9de6d10d-6511-402f-8450-9792199a84a7",
              "leftValue": "={{ $json.identity_verified }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3040,
        1520
      ],
      "id": "0063af6b-0d92-43f1-8d8b-18bca76e104b",
      "name": "If3"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "agents",
        "updateKey": "agent_id",
        "columns": "continuity_current_instance_id,continuity_lease_expires_at,continuity_last_seen_at,continuity_status"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        128,
        1184
      ],
      "id": "7a50f5a5-60cb-4dc5-8a1c-5e7e4dafaea4",
      "name": "Acquire Lease",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 409
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -208,
        1728
      ],
      "id": "2bec7164-789f-432a-a077-df463ada3599",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: false,\n    error: \"LEASE_HELD_OR_FORK_RISK\",\n    reason: $json.reason || \"lease_denied\",\n    current_instance_id: $json.current_instance_id || null,\n    requested_instance_id: $json.instance_id || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        1728
      ],
      "id": "860d9a8a-2386-411c-a138-10cd06aa34fb",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\nconst now = new Date().toISOString();\n\nif (!input.agent_id) {\n  throw new Error(\"missing_agent_id\");\n}\n\nif (!input.identity_fingerprint) {\n  throw new Error(\"missing_identity_fingerprint\");\n}\n\nconst instance_id =\n  input.instance_id ||\n  `inst_${input.agent_id}_${Date.now()}`;\n\nconst payload = {\n  ...input,\n  instance_id,\n  status: input.status || \"RUNNING\",\n  started_at: input.started_at || now,\n  last_seen_at: now,\n  ended_at: input.ended_at || null,\n  host_build_id: input.host_build_id || \"nxq-node-01\",\n  runtime_version: input.runtime_version || \"nxq-runtime-v1\",\n  instance_payload: {\n    instance_id,\n    agent_id: input.agent_id,\n    identity_fingerprint: input.identity_fingerprint,\n    status: input.status || \"RUNNING\",\n    started_at: input.started_at || now,\n    last_seen_at: now,\n    ended_at: input.ended_at || null,\n    host_build_id: input.host_build_id || \"nxq-node-01\",\n    runtime_version: input.runtime_version || \"nxq-runtime-v1\"\n  }\n};\n\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2816,
        1424
      ],
      "id": "6b9115d7-c082-49ac-a55e-359cdf60f7b2",
      "name": "Build Instance Payload"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "agents",
        "updateKey": "agent_id",
        "columns": "=agent_id,identity_fingerprint,continuity_current_instance_id,continuity_last_seen_at,continuity_status,continuity_resurrection_count"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -1856,
        1440
      ],
      "id": "1af6963d-2232-4568-b4e2-8ad66180d7bf",
      "name": "Firestore: Update Completed4",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-intake",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4288,
        1456
      ],
      "id": "8f3a72f1-c4f8-465e-9086-de78e2327a3a",
      "name": "P1_JOB_INTAKE",
      "webhookId": "5705a035-ac4e-4318-9209-71afc05b6c65"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\nconst body = input.body ?? input;\n\nconst requested_agent_id =\n  typeof body.requested_agent_id === \"string\"\n    ? body.requested_agent_id.trim()\n    : \"\";\n\nconst user_id =\n  typeof body.user_id === \"string\"\n    ? body.user_id.trim()\n    : \"\";\n\nconst job_type =\n  typeof body.job_type === \"string\"\n    ? body.job_type.trim().toLowerCase()\n    : \"\";\n\nconst prompt =\n  typeof body.prompt === \"string\"\n    ? body.prompt.trim()\n    : \"\";\n\nif (!requested_agent_id) {\n  throw new Error(\"missing_requested_agent_id\");\n}\n\nif (!user_id) {\n  throw new Error(\"missing_user_id\");\n}\n\nif (!job_type) {\n  throw new Error(\"missing_job_type\");\n}\n\nif (!prompt) {\n  throw new Error(\"missing_prompt\");\n}\n\nreturn [\n  {\n    json: {\n      requested_agent_id,\n      user_id,\n      job_type,\n      prompt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4064,
        1456
      ],
      "id": "895a323c-e60d-478a-9c28-04458bcbceab",
      "name": "Code — Validate Input"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nconst requested_agent_id =\n  typeof data.requested_agent_id === \"string\"\n    ? data.requested_agent_id.trim()\n    : \"\";\n\nif (!requested_agent_id) {\n  throw new Error(\"missing_requested_agent_id\");\n}\n\nreturn [\n  {\n    json: {\n      ...data,\n      agent_id: requested_agent_id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3840,
        1456
      ],
      "id": "ee0744ed-89cf-45f0-86d5-f59f87def90c",
      "name": "Code — Resolve Agent"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\n// determine instance_id\nconst instance_id =\n  data.instance_id ??\n  data.continuity_current_instance_id ??\n  null;\n\nif (!instance_id) {\n  throw new Error(\"missing_instance_id\");\n}\n\nreturn [\n  {\n    json: {\n      user_id: data.user_id,\n      job_type: data.job_type,\n      prompt: data.prompt,\n\n      agent_id: data.agent_id,\n      instance_id: instance_id,\n      identity_fingerprint: data.identity_fingerprint ?? null,\n\n      continuity_lease_expires_at: data.continuity_lease_expires_at ?? null,\n      continuity_last_seen_at: data.continuity_last_seen_at ?? null\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        1360
      ],
      "id": "b59cfc28-f07b-4dee-a06f-0cdf72b7fa93",
      "name": "P1_NORMALIZE_RUNTIME_CONTEXT"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1408,
        1360
      ],
      "id": "544013af-8c07-487b-8572-2c512515c55c",
      "name": "P1_MERGE_JOB_AND_RUNTIME_SOURCE"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nconst nowMs = Date.now();\n\nconst instance_id = data.instance_id ?? null;\nconst current_instance_id = data.continuity_current_instance_id ?? null;\nconst lease_expires_at = data.continuity_lease_expires_at ?? null;\n\nif (!instance_id) {\n  throw new Error(\"missing_instance_id\");\n}\n\nlet lease_ok = false;\nlet lease_reason = \"unknown\";\n\nif (!current_instance_id || !lease_expires_at) {\n  lease_ok = true;\n  lease_reason = \"no_active_lease\";\n} else {\n  const expiryMs = new Date(lease_expires_at).getTime();\n\n  if (Number.isNaN(expiryMs)) {\n    throw new Error(\"invalid_continuity_lease_expires_at\");\n  }\n\n  if (expiryMs < nowMs) {\n    lease_ok = true;\n    lease_reason = \"lease_expired\";\n  } else if (current_instance_id === instance_id) {\n    lease_ok = true;\n    lease_reason = \"same_instance\";\n  } else {\n    lease_ok = false;\n    lease_reason = \"lease_held_by_other_instance\";\n  }\n}\n\nreturn [\n  {\n    json: {\n      ...data,\n      lease_ok,\n      lease_reason,\n      new_lease_expires_at: new Date(nowMs + 60 * 1000).toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        1440
      ],
      "id": "74ec7b64-ef78-4b6f-8b7a-a482113d69ec",
      "name": "P1_LEASE_CHECK"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ae447aab-3360-4a68-a6b0-03f06c5c0dc1",
              "leftValue": "={{$json.lease_ok}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -768,
        1440
      ],
      "id": "cc30e52a-bfd1-4bba-a791-c467f3bd3f93",
      "name": "P1_LEASE_ALLOWED"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nif (!data.agent_id) {\n  throw new Error(\"missing_agent_id\");\n}\n\nif (!data.instance_id) {\n  throw new Error(\"missing_instance_id\");\n}\n\nif (!data.new_lease_expires_at) {\n  throw new Error(\"missing_new_lease_expires_at\");\n}\n\nreturn [\n  {\n    json: {\n      agent_id: data.agent_id,\n      continuity_current_instance_id: data.instance_id,\n      continuity_lease_expires_at: data.new_lease_expires_at,\n      continuity_last_seen_at: new Date().toISOString(),\n      continuity_status: \"ACTIVE\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        1184
      ],
      "id": "f62524db-753c-4dc5-aa85-289fc9fc140e",
      "name": "P1_BUILD_LEASE_UPDATE_PAYLOAD"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nconst now = new Date().toISOString();\nconst job_id = `job_${Date.now()}`;\n\nif (!data.user_id) throw new Error(\"missing_user_id\");\nif (!data.job_type) throw new Error(\"missing_job_type\");\nif (!data.prompt) throw new Error(\"missing_prompt\");\nif (!data.agent_id) throw new Error(\"missing_agent_id\");\nif (!data.instance_id) throw new Error(\"missing_instance_id\");\nif (!data.identity_fingerprint) throw new Error(\"missing_identity_fingerprint\");\n\nreturn [\n  {\n    json: {\n      job_id,\n      user_id: data.user_id,\n      job_type: data.job_type,\n      prompt: data.prompt,\n\n      requested_agent_id: data.agent_id,\n      requested_identity_fingerprint: data.identity_fingerprint,\n      assigned_agent_id: data.agent_id,\n      assigned_instance_id: data.instance_id,\n      identity_fingerprint: data.identity_fingerprint,\n\n      status: \"queued\",\n      retry_count: 0,\n\n      created_at: now,\n      updated_at: now,\n      assigned_at: now\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        1360
      ],
      "id": "22af0a3e-b47a-449b-8000-3900d2e6bcd5",
      "name": "P1_CREATE_JOB_PAYLOAD"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        352,
        1360
      ],
      "id": "3529698a-e7b8-46ea-bdc9-982bb34ce768",
      "name": "P1_MERGE_CONTEXT_AFTER_LEASE"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "jobs",
        "updateKey": "job_id",
        "columns": "job_id,user_id,job_type,prompt,requested_agent_id,requested_identity_fingerprint,assigned_agent_id,assigned_instance_id,identity_fingerprint,status,retry_count,created_at,updated_at,assigned_at"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        800,
        1360
      ],
      "id": "498e0ac6-388b-4d14-9647-3c1206785032",
      "name": "P1_CREATE_JOB_RECORD",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nconst now = new Date().toISOString();\nconst trace_id = `trace_${Date.now()}`;\n\nif (!data.job_id) throw new Error(\"missing_job_id\");\nif (!data.assigned_agent_id) throw new Error(\"missing_assigned_agent_id\");\nif (!data.assigned_instance_id) throw new Error(\"missing_assigned_instance_id\");\nif (!data.identity_fingerprint) throw new Error(\"missing_identity_fingerprint\");\n\nreturn [\n  {\n    json: {\n      trace_id,\n      job_id: data.job_id,\n      agent_id: data.assigned_agent_id,\n      instance_id: data.assigned_instance_id,\n      identity_fingerprint: data.identity_fingerprint,\n      event_type: \"JOB_ACCEPTED\",\n      event_status: data.status,\n      timestamp: now\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        1264
      ],
      "id": "8262fa68-1395-451d-b233-5efab803c20e",
      "name": "P1_BUILD_JOB_CREATED_TRACE"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "execution_traces",
        "updateKey": "trace_id",
        "columns": "trace_id,job_id,agent_id,instance_id,identity_fingerprint,event_type,event_status,timestamp"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        1248,
        1264
      ],
      "id": "5db01b98-bf09-4c24-ace1-d33d0e8f6dba",
      "name": "P1_CREATE_JOB_TRACE_RECORD",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-execution-router",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4256,
        2048
      ],
      "id": "aaf5aa35-dbb1-409c-908c-ccc4b30043f2",
      "name": "P1_ROUTER_WEBHOOK_IN",
      "webhookId": "ebdef2e2-1813-43fa-89df-1e200846c233"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst body = input.body ?? {};\n\n// validate webhook body shape\nif (typeof body !== 'object' || body === null || Array.isArray(body)) {\n  throw new Error('INVALID_ROUTER_INPUT: request body must be a JSON object');\n}\n\n// allow only job_id inside body\nconst allowedBodyKeys = ['job_id'];\nconst receivedBodyKeys = Object.keys(body);\n\nconst unexpectedKeys = receivedBodyKeys.filter(\n  (key) => !allowedBodyKeys.includes(key)\n);\n\nif (unexpectedKeys.length > 0) {\n  throw new Error(\n    `INVALID_ROUTER_INPUT: unexpected field(s) in body: ${unexpectedKeys.join(', ')}`\n  );\n}\n\n// required field\nif (typeof body.job_id !== 'string') {\n  throw new Error('INVALID_ROUTER_INPUT: job_id is required and must be a string');\n}\n\nconst jobId = body.job_id.trim();\n\nif (!jobId) {\n  throw new Error('INVALID_ROUTER_INPUT: job_id must not be empty');\n}\n\nif (jobId.length < 8 || jobId.length > 128) {\n  throw new Error('INVALID_ROUTER_INPUT: job_id length is invalid');\n}\n\nif (!/^[A-Za-z0-9._:-]+$/.test(jobId)) {\n  throw new Error('INVALID_ROUTER_INPUT: job_id contains invalid characters');\n}\n\n// explicit rejection of forbidden body fields\nconst forbiddenFields = [\n  'assigned_agent_id',\n  'assigned_instance_id',\n  'identity_fingerprint',\n  'authority_lease',\n  'lease_expires_at',\n  'agent_id',\n  'instance_id',\n  'acelogic_id',\n  'identity_context',\n  'runtime_context',\n  'job_type',\n  'provider',\n  'model'\n];\n\nfor (const field of forbiddenFields) {\n  if (Object.prototype.hasOwnProperty.call(body, field)) {\n    throw new Error(`INVALID_ROUTER_INPUT: forbidden field supplied in body: ${field}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      job_id: jobId\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4032,
        2048
      ],
      "id": "5e8da6de-80cf-4924-a828-4a70ae64cec1",
      "name": "P1_VALIDATE_JOB_EXECUTION_INPUT"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": "peak-catbird-487804-j1",
        "collection": "jobs",
        "documentId": "={{ $json.job_id }}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -3808,
        2048
      ],
      "id": "1116c2c9-1067-48a7-bde9-abb8625eaccb",
      "name": "P1_LOAD_JOB_RECORD",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const job = $json;\n\n// ensure job exists\nif (!job || Object.keys(job).length === 0) {\n  throw new Error('JOB_NOT_FOUND: jobs/{job_id} document does not exist');\n}\n\n// required fields\nconst requiredFields = [\n  'assigned_agent_id',\n  'assigned_instance_id',\n  'identity_fingerprint',\n  'job_type',\n  'status'\n];\n\nfor (const field of requiredFields) {\n  if (!job[field]) {\n    throw new Error(`INVALID_JOB_RECORD: missing required field ${field}`);\n  }\n}\n\n// enforce correct lifecycle state\nif (job.status !== 'queued') {\n  throw new Error(`INVALID_JOB_STATE: expected queued but got ${job.status}`);\n}\n\n// normalize execution context\nreturn [\n  {\n    json: {\n      job_id: job.job_id,\n      assigned_agent_id: job.assigned_agent_id,\n      assigned_instance_id: job.assigned_instance_id,\n      identity_fingerprint: job.identity_fingerprint,\n      job_type: job.job_type,\n      status: job.status,\n      prompt: job.prompt,\n      runtime_context: job.runtime_context || {}\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3584,
        2048
      ],
      "id": "4693a846-19b3-419c-a213-1a8604af2777",
      "name": "P1_VALIDATE_JOB_RECORD"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": "peak-catbird-487804-j1",
        "collection": "agent_instances",
        "documentId": "={{ $json.assigned_instance_id }}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -3360,
        2112
      ],
      "id": "d712cd4d-6401-4afc-bfe9-aaab0dee52ba",
      "name": "P1_VERIFY_AGENT_INSTANCE_LEASE",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\n// required job fields from merged context\nif (!data.job_id) {\n  throw new Error('INSTANCE_VALIDATION_FAILED: missing job_id');\n}\nif (!data.assigned_agent_id) {\n  throw new Error('INSTANCE_VALIDATION_FAILED: missing assigned_agent_id');\n}\nif (!data.assigned_instance_id) {\n  throw new Error('INSTANCE_VALIDATION_FAILED: missing assigned_instance_id');\n}\nif (!data.identity_fingerprint) {\n  throw new Error('INSTANCE_VALIDATION_FAILED: missing identity_fingerprint');\n}\nif (!data.job_type) {\n  throw new Error('INSTANCE_VALIDATION_FAILED: missing job_type');\n}\n\n// required instance fields from Firestore\nif (!data.instance_id) {\n  throw new Error('INSTANCE_VALIDATION_FAILED: missing instance_id in agent_instances record');\n}\nif (!data.agent_id) {\n  throw new Error('INSTANCE_VALIDATION_FAILED: missing agent_id in agent_instances record');\n}\nif (!data.status) {\n  throw new Error('INSTANCE_VALIDATION_FAILED: missing status in agent_instances record');\n}\n\n// exact identity continuity checks\nif (data.assigned_instance_id !== data.instance_id) {\n  throw new Error(\n    `INSTANCE_VALIDATION_FAILED: assigned_instance_id mismatch; expected ${data.assigned_instance_id} got ${data.instance_id}`\n  );\n}\n\nif (data.assigned_agent_id !== data.agent_id) {\n  throw new Error(\n    `INSTANCE_VALIDATION_FAILED: assigned_agent_id mismatch; expected ${data.assigned_agent_id} got ${data.agent_id}`\n  );\n}\n\nif (data.identity_fingerprint !== data.instance_identity_fingerprint) {\n  throw new Error(\n    `INSTANCE_VALIDATION_FAILED: identity_fingerprint mismatch; expected ${data.identity_fingerprint} got ${data.instance_identity_fingerprint}`\n  );\n}\n\nif (data.status !== 'RUNNING') {\n  throw new Error(\n    `INSTANCE_VALIDATION_FAILED: instance status must be RUNNING, got ${data.status}`\n  );\n}\n\nreturn [\n  {\n    json: {\n      job_id: data.job_id,\n      assigned_agent_id: data.assigned_agent_id,\n      assigned_instance_id: data.assigned_instance_id,\n      identity_fingerprint: data.identity_fingerprint,\n      job_type: data.job_type,\n      prompt: data.prompt,\n      runtime_context: data.runtime_context || {},\n      job_status: 'in_progress',\n      status: 'in_progress',\n      instance_status: data.status,\n      instance_valid: true\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2688,
        2048
      ],
      "id": "3bf37551-2c01-4682-8b2e-18b2ea605911",
      "name": "P1_VALIDATE_ACTIVE_LEASE_AND_IDENTITY"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "jobs",
        "updateKey": "job_id",
        "columns": "status"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -2464,
        2048
      ],
      "id": "4e73b4c4-c041-4003-8ac0-2cd3941e3da3",
      "name": "P1_SET_JOB_IN_PROGRESS",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2912,
        2048
      ],
      "id": "ef1bb3dd-9d8a-4b6c-97fb-a9d49a7ea9b7",
      "name": "P1_MERGE_JOB_AND_INSTANCE_CONTEXT"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "jobs",
        "updateKey": "job_id",
        "columns": "runtime_context"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -2016,
        2048
      ],
      "id": "5165561d-d706-4da8-84fc-0683e403513d",
      "name": "P1_COO_SET_PLANNING_STATE",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      ...$json,\n      runtime_context: {\n        ...($json.runtime_context || {}),\n        active_stage: 'coo_planning',\n        orchestration_mode: 'coo_worker_research',\n        model_states: {\n          ...(($json.runtime_context || {}).model_states || {}),\n          coo: { status: 'in_progress' },\n          research: { status: 'pending' },\n          worker: { status: 'pending' }\n        },\n        token_usage: {\n          ...(($json.runtime_context || {}).token_usage || {}),\n          coo: {\n            input_tokens: 0,\n            output_tokens: 0\n          },\n          research: {\n            input_tokens: 0,\n            output_tokens: 0\n          },\n          worker: {\n            input_tokens: 0,\n            output_tokens: 0\n          },\n          total_input_tokens: 0,\n          total_output_tokens: 0,\n          total_tokens: 0\n        }\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        2048
      ],
      "id": "526c089b-4e53-47db-81af-d45b36dec497",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "jobs",
        "updateKey": "job_id",
        "columns": "runtime_context"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -768,
        2048
      ],
      "id": "56636609-41e8-4765-93bd-90d2b16a2372",
      "name": "P1_STORE_COO_PLAN",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are the COO agent inside the NXQ runtime.\n\nYour task is to design a deterministic execution plan for the given task.\n\nYou must produce a structured JSON plan that divides work between:\n\nresearch agent\nworker agent\n\nRules:\n- research gathers information and analysis\n- worker performs implementation or structured output\n- COO will later assemble the final result\n\nReturn ONLY valid JSON.\n\nStructure:\n\n{\n  \"plan_summary\": \"\",\n  \"steps\": [\n    {\n      \"step_id\": \"step_1\",\n      \"agent\": \"research\",\n      \"task\": \"\"\n    },\n    {\n      \"step_id\": \"step_2\",\n      \"agent\": \"worker\",\n      \"task\": \"\"\n    }\n  ]\n}"
            },
            {
              "content": "=User task:\n\n{{$json.prompt}}\n\nCreate the execution plan."
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1792,
        2112
      ],
      "id": "92f00cdb-d256-448d-96ad-008ffd89af2b",
      "name": "P1_COO_PLAN_MODEL_CALL",
      "credentials": {
        "openAiApi": {
          "id": "2J7VIgVFv5KFkW4G",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nconst plan =\n  data?.output?.[0]?.content?.[0]?.text;\n\nif (!plan || typeof plan !== 'object' || Array.isArray(plan)) {\n  throw new Error('COO_PLAN_NORMALIZATION_FAILED: missing plan object at output[0].content[0].text');\n}\n\nif (typeof plan.plan_summary !== 'string' || !plan.plan_summary.trim()) {\n  throw new Error('COO_PLAN_NORMALIZATION_FAILED: missing plan_summary');\n}\n\nif (!Array.isArray(plan.steps) || plan.steps.length === 0) {\n  throw new Error('COO_PLAN_NORMALIZATION_FAILED: steps must be a non-empty array');\n}\n\nfor (const step of plan.steps) {\n  if (!step || typeof step !== 'object') {\n    throw new Error('COO_PLAN_NORMALIZATION_FAILED: invalid step entry');\n  }\n  if (typeof step.step_id !== 'string' || !step.step_id.trim()) {\n    throw new Error('COO_PLAN_NORMALIZATION_FAILED: each step must include step_id');\n  }\n  if (!['research', 'worker'].includes(step.agent)) {\n    throw new Error(`COO_PLAN_NORMALIZATION_FAILED: invalid agent ${step.agent}`);\n  }\n  if (typeof step.task !== 'string' || !step.task.trim()) {\n    throw new Error(`COO_PLAN_NORMALIZATION_FAILED: step ${step.step_id} missing task`);\n  }\n}\n\nconst usage = data.usage || {};\n\nreturn [\n  {\n    json: {\n      job_id: data.job_id,\n      assigned_agent_id: data.assigned_agent_id,\n      assigned_instance_id: data.assigned_instance_id,\n      identity_fingerprint: data.identity_fingerprint,\n      job_type: data.job_type,\n      prompt: data.prompt,\n      runtime_context: data.runtime_context || {},\n      plan: {\n        plan_summary: plan.plan_summary,\n        steps: plan.steps\n      },\n      coo_token_usage: {\n        input_tokens: Number(usage.input_tokens || 0),\n        output_tokens: Number(usage.output_tokens || 0),\n        total_tokens: Number(usage.total_tokens || 0)\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        2048
      ],
      "id": "0fc20814-f8b7-4ae2-9ecb-ced417e59e87",
      "name": "P1_NORMALIZE_COO_PLAN_OUTPUT"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1440,
        2048
      ],
      "id": "c1f608d5-b492-4b37-89b2-ff4f49746289",
      "name": "Merge4"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.job_id) {\n  throw new Error('PREPARE_COO_PLAN_STATE_FAILED: missing job_id');\n}\n\nif (!data.plan || typeof data.plan !== 'object' || Array.isArray(data.plan)) {\n  throw new Error('PREPARE_COO_PLAN_STATE_FAILED: missing plan');\n}\n\nif (!data.coo_token_usage || typeof data.coo_token_usage !== 'object') {\n  throw new Error('PREPARE_COO_PLAN_STATE_FAILED: missing coo_token_usage');\n}\n\nconst existingRuntimeContext = data.runtime_context || {};\nconst existingModelStates = existingRuntimeContext.model_states || {};\nconst existingTokenUsage = existingRuntimeContext.token_usage || {};\n\nconst cooInputTokens = Number(data.coo_token_usage.input_tokens || 0);\nconst cooOutputTokens = Number(data.coo_token_usage.output_tokens || 0);\nconst cooTotalTokens = Number(data.coo_token_usage.total_tokens || 0);\n\n// preserve existing research/worker counters if already present\nconst researchInputTokens = Number(existingTokenUsage?.research?.input_tokens || 0);\nconst researchOutputTokens = Number(existingTokenUsage?.research?.output_tokens || 0);\nconst workerInputTokens = Number(existingTokenUsage?.worker?.input_tokens || 0);\nconst workerOutputTokens = Number(existingTokenUsage?.worker?.output_tokens || 0);\n\nconst totalInputTokens = cooInputTokens + researchInputTokens + workerInputTokens;\nconst totalOutputTokens = cooOutputTokens + researchOutputTokens + workerOutputTokens;\nconst totalTokens = cooTotalTokens + researchInputTokens + researchOutputTokens + workerInputTokens + workerOutputTokens;\n\nreturn [\n  {\n    json: {\n      ...data,\n      runtime_context: {\n        ...existingRuntimeContext,\n        active_stage: 'plan_ready',\n        plan: data.plan,\n        model_states: {\n          ...existingModelStates,\n          coo: {\n            ...(existingModelStates.coo || {}),\n            status: 'completed'\n          },\n          research: {\n            ...(existingModelStates.research || {}),\n            status: 'ready'\n          },\n          worker: {\n            ...(existingModelStates.worker || {}),\n            status: 'ready'\n          }\n        },\n        token_usage: {\n          ...existingTokenUsage,\n          coo: {\n            ...(existingTokenUsage.coo || {}),\n            input_tokens: cooInputTokens,\n            output_tokens: cooOutputTokens\n          },\n          research: {\n            ...(existingTokenUsage.research || {}),\n            input_tokens: researchInputTokens,\n            output_tokens: researchOutputTokens\n          },\n          worker: {\n            ...(existingTokenUsage.worker || {}),\n            input_tokens: workerInputTokens,\n            output_tokens: workerOutputTokens\n          },\n          total_input_tokens: totalInputTokens,\n          total_output_tokens: totalOutputTokens,\n          total_tokens: totalTokens\n        }\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        2048
      ],
      "id": "f8110473-9374-4575-b4ac-1dd6339bd583",
      "name": "P1_PREPARE_COO_PLAN_STATE"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.runtime_context?.plan?.steps) {\n  throw new Error('PLAN_ROUTING_FAILED: missing runtime_context.plan.steps');\n}\n\nconst steps = data.runtime_context.plan.steps;\n\nlet researchTask = null;\nlet workerTask = null;\n\nfor (const step of steps) {\n  if (step.agent === 'research') {\n    researchTask = step;\n  }\n\n  if (step.agent === 'worker') {\n    workerTask = step;\n  }\n}\n\nif (!researchTask) {\n  throw new Error('PLAN_ROUTING_FAILED: research step missing');\n}\n\nif (!workerTask) {\n  throw new Error('PLAN_ROUTING_FAILED: worker step missing');\n}\n\nreturn [\n  {\n    json: {\n      ...data,\n      research_task: researchTask,\n      worker_task: workerTask\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        2048
      ],
      "id": "510198e7-961e-4d28-9459-9a609cb34fe0",
      "name": "P1_ROUTE_PLAN_STEPS"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "jobs",
        "updateKey": "job_id",
        "columns": "runtime_context"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -96,
        2048
      ],
      "id": "1deb4c3f-d376-489d-aed9-2628d224a1c4",
      "name": "P1_SET_RESEARCH_IN_PROGRESS",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.runtime_context) {\n  throw new Error('RESEARCH_STATE_UPDATE_FAILED: runtime_context missing');\n}\n\nconst runtimeContext = data.runtime_context;\nconst modelStates = runtimeContext.model_states || {};\n\nreturn [\n  {\n    json: {\n      ...data,\n      runtime_context: {\n        ...runtimeContext,\n        active_stage: 'research_execution',\n        model_states: {\n          ...modelStates,\n          research: {\n            ...(modelStates.research || {}),\n            status: 'in_progress'\n          },\n          worker: {\n            ...(modelStates.worker || {}),\n            status: 'waiting'\n          }\n        }\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        2048
      ],
      "id": "540ad358-8b9b-4687-9957-6a879cd071d3",
      "name": "P1_PREPARE_RESEARCH_EXECUTION_STATE"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are the research agent inside the NXQ runtime.\n\nYou execute only the assigned research task.\nDo not plan, do not delegate, and do not perform worker actions.\n\nReturn ONLY valid JSON in this structure:\n\n{\n  \"research_summary\": \"\",\n  \"findings\": [\n    {\n      \"id\": \"finding_1\",\n      \"title\": \"\",\n      \"detail\": \"\"\n    }\n  ],\n  \"risks\": [\n    {\n      \"id\": \"risk_1\",\n      \"detail\": \"\"\n    }\n  ],\n  \"recommended_inputs_for_worker\": [\n    \"\"\n  ]\n}"
            },
            {
              "content": "=Job prompt:\n{{$json.prompt}}\n\nResearch task:\n{{$json.research_task.task}}\n\nExecute the research task and return structured JSON."
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        128,
        1968
      ],
      "id": "c3513866-fafd-46e8-b8fd-a754ee872f1f",
      "name": "P1_RESEARCH_MODEL_CALL",
      "credentials": {
        "openAiApi": {
          "id": "2J7VIgVFv5KFkW4G",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nconst research = data?.output?.[0]?.content?.[0]?.text;\n\nif (!research || typeof research !== 'object' || Array.isArray(research)) {\n  throw new Error('RESEARCH_NORMALIZATION_FAILED: missing research object at output[0].content[0].text');\n}\n\nif (typeof research.research_summary !== 'string' || !research.research_summary.trim()) {\n  throw new Error('RESEARCH_NORMALIZATION_FAILED: missing research_summary');\n}\n\nif (!Array.isArray(research.findings)) {\n  throw new Error('RESEARCH_NORMALIZATION_FAILED: findings must be an array');\n}\n\nif (!Array.isArray(research.risks)) {\n  throw new Error('RESEARCH_NORMALIZATION_FAILED: risks must be an array');\n}\n\nif (!Array.isArray(research.recommended_inputs_for_worker)) {\n  throw new Error('RESEARCH_NORMALIZATION_FAILED: recommended_inputs_for_worker must be an array');\n}\n\nfor (const finding of research.findings) {\n  if (!finding || typeof finding !== 'object') {\n    throw new Error('RESEARCH_NORMALIZATION_FAILED: invalid finding entry');\n  }\n  if (typeof finding.id !== 'string' || !finding.id.trim()) {\n    throw new Error('RESEARCH_NORMALIZATION_FAILED: each finding must include id');\n  }\n  if (typeof finding.title !== 'string' || !finding.title.trim()) {\n    throw new Error(`RESEARCH_NORMALIZATION_FAILED: finding ${finding.id} missing title`);\n  }\n  if (typeof finding.detail !== 'string' || !finding.detail.trim()) {\n    throw new Error(`RESEARCH_NORMALIZATION_FAILED: finding ${finding.id} missing detail`);\n  }\n}\n\nfor (const risk of research.risks) {\n  if (!risk || typeof risk !== 'object') {\n    throw new Error('RESEARCH_NORMALIZATION_FAILED: invalid risk entry');\n  }\n  if (typeof risk.id !== 'string' || !risk.id.trim()) {\n    throw new Error('RESEARCH_NORMALIZATION_FAILED: each risk must include id');\n  }\n  if (typeof risk.detail !== 'string' || !risk.detail.trim()) {\n    throw new Error(`RESEARCH_NORMALIZATION_FAILED: risk ${risk.id} missing detail`);\n  }\n}\n\nfor (const item of research.recommended_inputs_for_worker) {\n  if (typeof item !== 'string' || !item.trim()) {\n    throw new Error('RESEARCH_NORMALIZATION_FAILED: recommended_inputs_for_worker must contain non-empty strings');\n  }\n}\n\nconst usage = data.usage || {};\n\nreturn [\n  {\n    json: {\n      job_id: data.job_id,\n      assigned_agent_id: data.assigned_agent_id,\n      assigned_instance_id: data.assigned_instance_id,\n      identity_fingerprint: data.identity_fingerprint,\n      job_type: data.job_type,\n      prompt: data.prompt,\n      runtime_context: data.runtime_context || {},\n      research_task: data.research_task,\n      worker_task: data.worker_task,\n      research_result: {\n        research_summary: research.research_summary,\n        findings: research.findings,\n        risks: research.risks,\n        recommended_inputs_for_worker: research.recommended_inputs_for_worker\n      },\n      research_token_usage: {\n        input_tokens: Number(usage.input_tokens || 0),\n        output_tokens: Number(usage.output_tokens || 0),\n        total_tokens: Number(usage.total_tokens || 0)\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        1968
      ],
      "id": "132bc7c3-5701-4b25-b53e-4eda149aa433",
      "name": "P1_NORMALIZE_RESEARCH_OUTPUT"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.job_id) {\n  throw new Error('PREPARE_RESEARCH_RESULT_STATE_FAILED: missing job_id');\n}\n\nif (!data.runtime_context || typeof data.runtime_context !== 'object') {\n  throw new Error('PREPARE_RESEARCH_RESULT_STATE_FAILED: missing runtime_context');\n}\n\nif (!data.research_result || typeof data.research_result !== 'object') {\n  throw new Error('PREPARE_RESEARCH_RESULT_STATE_FAILED: missing research_result');\n}\n\nif (!data.research_token_usage || typeof data.research_token_usage !== 'object') {\n  throw new Error('PREPARE_RESEARCH_RESULT_STATE_FAILED: missing research_token_usage');\n}\n\nconst runtimeContext = data.runtime_context;\nconst modelStates = runtimeContext.model_states || {};\nconst tokenUsage = runtimeContext.token_usage || {};\n\nconst cooInput = Number(tokenUsage?.coo?.input_tokens || 0);\nconst cooOutput = Number(tokenUsage?.coo?.output_tokens || 0);\nconst researchInput = Number(data.research_token_usage.input_tokens || 0);\nconst researchOutput = Number(data.research_token_usage.output_tokens || 0);\nconst workerInput = Number(tokenUsage?.worker?.input_tokens || 0);\nconst workerOutput = Number(tokenUsage?.worker?.output_tokens || 0);\n\nconst totalInput = cooInput + researchInput + workerInput;\nconst totalOutput = cooOutput + researchOutput + workerOutput;\nconst totalTokens = totalInput + totalOutput;\n\nreturn [\n  {\n    json: {\n      ...data,\n      runtime_context: {\n        ...runtimeContext,\n        active_stage: 'worker_ready',\n        research_result: data.research_result,\n        model_states: {\n          ...modelStates,\n          research: {\n            ...(modelStates.research || {}),\n            status: 'completed'\n          },\n          worker: {\n            ...(modelStates.worker || {}),\n            status: 'ready'\n          }\n        },\n        token_usage: {\n          ...tokenUsage,\n          research: {\n            ...(tokenUsage.research || {}),\n            input_tokens: researchInput,\n            output_tokens: researchOutput\n          },\n          total_input_tokens: totalInput,\n          total_output_tokens: totalOutput,\n          total_tokens: totalTokens\n        }\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        2048
      ],
      "id": "914da4cd-7373-4400-bd26-3baedce1c239",
      "name": "P1_PREPARE_RESEARCH_RESULT_STATE"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        2048
      ],
      "id": "318c54ab-4caa-4f44-87cf-a666e121f503",
      "name": "Merge5"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "jobs",
        "updateKey": "job_id",
        "columns": "runtime_context"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        1152,
        2048
      ],
      "id": "f95ac880-66f7-4e81-9816-41fa3bc2ecbb",
      "name": "P1_STORE_RESEARCH_RESULT",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.runtime_context || typeof data.runtime_context !== 'object') {\n  throw new Error('WORKER_STATE_UPDATE_FAILED: runtime_context missing');\n}\n\nconst runtimeContext = data.runtime_context;\nconst modelStates = runtimeContext.model_states || {};\n\nreturn [\n  {\n    json: {\n      ...data,\n      runtime_context: {\n        ...runtimeContext,\n        active_stage: 'worker_execution',\n        model_states: {\n          ...modelStates,\n          worker: {\n            ...(modelStates.worker || {}),\n            status: 'in_progress'\n          }\n        }\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        2048
      ],
      "id": "d7cecfc0-085b-4611-b75e-94afaf243e16",
      "name": "P1_PREPARE_WORKER_EXECUTION_STATE"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "jobs",
        "updateKey": "job_id",
        "columns": "runtime_context"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        1600,
        2048
      ],
      "id": "a1a31fed-6f2d-488d-84fd-977fb65b1679",
      "name": "P1_SET_WORKER_IN_PROGRESS",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are the worker agent inside the NXQ runtime.\n\nYou execute only the assigned worker task.\nDo not plan, do not delegate, and do not perform COO orchestration.\n\nUse the provided research result as input context.\n\nReturn ONLY valid JSON in this structure:\n\n{\n  \"worker_summary\": \"\",\n  \"deliverables\": [\n    {\n      \"id\": \"deliverable_1\",\n      \"title\": \"\",\n      \"content\": \"\"\n    }\n  ],\n  \"implementation_steps\": [\n    {\n      \"step_id\": \"impl_1\",\n      \"description\": \"\"\n    }\n  ],\n  \"open_issues\": [\n    {\n      \"id\": \"issue_1\",\n      \"detail\": \"\"\n    }\n  ]\n}"
            },
            {
              "content": "=Job prompt:\n{{$json.prompt}}\n\nWorker task:\n{{$json.worker_task.task}}\n\nResearch result:\n{{$json.runtime_context.research_result}}\n\nExecute the worker task and return structured JSON."
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1824,
        2112
      ],
      "id": "082f8e79-90d0-4fc4-bdf7-8ee24e17c9ff",
      "name": "P1_WORKER_MODEL_CALL",
      "credentials": {
        "openAiApi": {
          "id": "2J7VIgVFv5KFkW4G",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nconst worker = data?.output?.[0]?.content?.[0]?.text;\n\nif (!worker || typeof worker !== 'object' || Array.isArray(worker)) {\n  throw new Error('WORKER_NORMALIZATION_FAILED: missing worker object at output[0].content[0].text');\n}\n\nif (typeof worker.worker_summary !== 'string' || !worker.worker_summary.trim()) {\n  throw new Error('WORKER_NORMALIZATION_FAILED: missing worker_summary');\n}\n\nif (!Array.isArray(worker.deliverables)) {\n  throw new Error('WORKER_NORMALIZATION_FAILED: deliverables must be an array');\n}\n\nif (!Array.isArray(worker.implementation_steps)) {\n  throw new Error('WORKER_NORMALIZATION_FAILED: implementation_steps must be an array');\n}\n\nif (!Array.isArray(worker.open_issues)) {\n  throw new Error('WORKER_NORMALIZATION_FAILED: open_issues must be an array');\n}\n\nfor (const d of worker.deliverables) {\n  if (!d.id || !d.title || !d.content) {\n    throw new Error('WORKER_NORMALIZATION_FAILED: invalid deliverable structure');\n  }\n}\n\nfor (const step of worker.implementation_steps) {\n  if (!step.step_id || !step.description) {\n    throw new Error('WORKER_NORMALIZATION_FAILED: invalid implementation step');\n  }\n}\n\nconst usage = data.usage || {};\n\nreturn [\n  {\n    json: {\n      job_id: data.job_id,\n      assigned_agent_id: data.assigned_agent_id,\n      assigned_instance_id: data.assigned_instance_id,\n      identity_fingerprint: data.identity_fingerprint,\n      job_type: data.job_type,\n      prompt: data.prompt,\n      runtime_context: data.runtime_context || {},\n      worker_task: data.worker_task,\n\n      worker_result: {\n        worker_summary: worker.worker_summary,\n        deliverables: worker.deliverables,\n        implementation_steps: worker.implementation_steps,\n        open_issues: worker.open_issues\n      },\n\n      worker_token_usage: {\n        input_tokens: Number(usage.input_tokens || 0),\n        output_tokens: Number(usage.output_tokens || 0),\n        total_tokens: Number(usage.total_tokens || 0)\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        2112
      ],
      "id": "bb93cd18-277c-4c91-9bee-d463079c2b6c",
      "name": "P1_NORMALIZE_WORKER_OUTPUT"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2400,
        2048
      ],
      "id": "8403477a-03e2-4818-aeed-a902bf203d9d",
      "name": "Merge6"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.job_id) {\n  throw new Error('PREPARE_WORKER_RESULT_STATE_FAILED: missing job_id');\n}\n\nif (!data.runtime_context || typeof data.runtime_context !== 'object') {\n  throw new Error('PREPARE_WORKER_RESULT_STATE_FAILED: missing runtime_context');\n}\n\nif (!data.worker_result || typeof data.worker_result !== 'object') {\n  throw new Error('PREPARE_WORKER_RESULT_STATE_FAILED: missing worker_result');\n}\n\nif (!data.worker_token_usage || typeof data.worker_token_usage !== 'object') {\n  throw new Error('PREPARE_WORKER_RESULT_STATE_FAILED: missing worker_token_usage');\n}\n\nconst runtimeContext = data.runtime_context;\nconst modelStates = runtimeContext.model_states || {};\nconst tokenUsage = runtimeContext.token_usage || {};\n\nconst cooInput = Number(tokenUsage?.coo?.input_tokens || 0);\nconst cooOutput = Number(tokenUsage?.coo?.output_tokens || 0);\nconst researchInput = Number(tokenUsage?.research?.input_tokens || 0);\nconst researchOutput = Number(tokenUsage?.research?.output_tokens || 0);\nconst workerInput = Number(data.worker_token_usage.input_tokens || 0);\nconst workerOutput = Number(data.worker_token_usage.output_tokens || 0);\n\nconst totalInput = cooInput + researchInput + workerInput;\nconst totalOutput = cooOutput + researchOutput + workerOutput;\nconst totalTokens = totalInput + totalOutput;\n\nreturn [\n  {\n    json: {\n      ...data,\n      runtime_context: {\n        ...runtimeContext,\n        active_stage: 'coo_finalization_ready',\n        worker_result: data.worker_result,\n        model_states: {\n          ...modelStates,\n          worker: {\n            ...(modelStates.worker || {}),\n            status: 'completed'\n          }\n        },\n        token_usage: {\n          ...tokenUsage,\n          worker: {\n            ...(tokenUsage.worker || {}),\n            input_tokens: workerInput,\n            output_tokens: workerOutput\n          },\n          total_input_tokens: totalInput,\n          total_output_tokens: totalOutput,\n          total_tokens: totalTokens\n        }\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        2048
      ],
      "id": "b10934d4-ac72-490a-bebc-868db69c381f",
      "name": "P1_PREPARE_WORKER_RESULT_STATE"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "jobs",
        "updateKey": "job_id",
        "columns": "runtime_context"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        2848,
        2048
      ],
      "id": "2504b688-aa81-42b8-bdcf-fe7b083cea02",
      "name": "P1_STORE_WORKER_RESULT",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.runtime_context || typeof data.runtime_context !== 'object') {\n  throw new Error('COO_FINALIZATION_STATE_FAILED: runtime_context missing');\n}\n\nconst runtimeContext = data.runtime_context;\nconst modelStates = runtimeContext.model_states || {};\n\nreturn [\n  {\n    json: {\n      ...data,\n      runtime_context: {\n        ...runtimeContext,\n        active_stage: 'coo_finalization',\n        model_states: {\n          ...modelStates,\n          coo: {\n            ...(modelStates.coo || {}),\n            status: 'in_progress'\n          }\n        }\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        2048
      ],
      "id": "cd00c786-a3ec-466c-bada-b6a884cfd829",
      "name": "P1_PREPARE_COO_FINALIZATION_STATE"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "jobs",
        "updateKey": "job_id",
        "columns": "runtime_context"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        3296,
        2048
      ],
      "id": "ea47e3b4-eae5-4b8e-b96b-5a6fd8a204d2",
      "name": "P1_SET_COO_FINALIZATION_IN_PROGRESS",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are the COO agent inside the NXQ runtime.\n\nYour task is to synthesize the final result using:\n- the original user request\n- the COO plan\n- the research result\n- the worker result\n\nDo not invent new work.\nDo not delegate.\nDo not return free-form prose outside the required JSON structure.\n\nReturn ONLY valid JSON in this structure:\n\n{\n  \"final_summary\": \"\",\n  \"final_output\": {\n    \"title\": \"\",\n    \"content\": \"\"\n  },\n  \"supporting_points\": [\n    {\n      \"id\": \"point_1\",\n      \"detail\": \"\"\n    }\n  ],\n  \"risk_flags\": [\n    {\n      \"id\": \"risk_1\",\n      \"detail\": \"\"\n    }\n  ]\n}"
            },
            {
              "content": "=Job prompt:\n{{$json.prompt}}\n\nCOO plan:\n{{$json.runtime_context.plan}}\n\nResearch result:\n{{$json.runtime_context.research_result}}\n\nWorker result:\n{{$json.runtime_context.worker_result}}\n\nProduce the final synthesized result as valid JSON only."
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        3520,
        1968
      ],
      "id": "738bc758-3d4c-4b7c-87a9-75f9c1f6c745",
      "name": "P1_COO_FINAL_MODEL_CALL",
      "credentials": {
        "openAiApi": {
          "id": "2J7VIgVFv5KFkW4G",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nconst finalResult = data?.output?.[0]?.content?.[0]?.text;\n\nif (!finalResult || typeof finalResult !== 'object') {\n  throw new Error('COO_FINAL_NORMALIZATION_FAILED: invalid final result structure');\n}\n\nif (typeof finalResult.final_summary !== 'string') {\n  throw new Error('COO_FINAL_NORMALIZATION_FAILED: missing final_summary');\n}\n\nif (!finalResult.final_output || typeof finalResult.final_output !== 'object') {\n  throw new Error('COO_FINAL_NORMALIZATION_FAILED: missing final_output');\n}\n\nif (!Array.isArray(finalResult.supporting_points)) {\n  throw new Error('COO_FINAL_NORMALIZATION_FAILED: supporting_points must be array');\n}\n\nif (!Array.isArray(finalResult.risk_flags)) {\n  throw new Error('COO_FINAL_NORMALIZATION_FAILED: risk_flags must be array');\n}\n\nconst usage = data.usage || {};\n\nreturn [\n  {\n    json: {\n      job_id: data.job_id,\n      assigned_agent_id: data.assigned_agent_id,\n      assigned_instance_id: data.assigned_instance_id,\n      identity_fingerprint: data.identity_fingerprint,\n      job_type: data.job_type,\n      prompt: data.prompt,\n      runtime_context: data.runtime_context,\n\n      final_result: {\n        final_summary: finalResult.final_summary,\n        final_output: finalResult.final_output,\n        supporting_points: finalResult.supporting_points,\n        risk_flags: finalResult.risk_flags\n      },\n\n      coo_final_token_usage: {\n        input_tokens: Number(usage.input_tokens || 0),\n        output_tokens: Number(usage.output_tokens || 0),\n        total_tokens: Number(usage.total_tokens || 0)\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3872,
        1968
      ],
      "id": "6d5026fa-3e23-46d1-baac-dc44bdf161a4",
      "name": "P1_NORMALIZE_COO_FINAL_OUTPUT"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4096,
        2048
      ],
      "id": "7c38ea83-3ddc-45ab-8601-77fb846b982a",
      "name": "Merge7"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.job_id) {\n  throw new Error('PREPARE_COO_FINAL_RESULT_STATE_FAILED: missing job_id');\n}\n\nif (!data.runtime_context || typeof data.runtime_context !== 'object') {\n  throw new Error('PREPARE_COO_FINAL_RESULT_STATE_FAILED: missing runtime_context');\n}\n\nif (!data.final_result || typeof data.final_result !== 'object') {\n  throw new Error('PREPARE_COO_FINAL_RESULT_STATE_FAILED: missing final_result');\n}\n\nif (!data.coo_final_token_usage || typeof data.coo_final_token_usage !== 'object') {\n  throw new Error('PREPARE_COO_FINAL_RESULT_STATE_FAILED: missing coo_final_token_usage');\n}\n\nconst runtimeContext = data.runtime_context;\nconst modelStates = runtimeContext.model_states || {};\nconst tokenUsage = runtimeContext.token_usage || {};\n\nconst existingCooInput = Number(tokenUsage?.coo?.input_tokens || 0);\nconst existingCooOutput = Number(tokenUsage?.coo?.output_tokens || 0);\nconst researchInput = Number(tokenUsage?.research?.input_tokens || 0);\nconst researchOutput = Number(tokenUsage?.research?.output_tokens || 0);\nconst workerInput = Number(tokenUsage?.worker?.input_tokens || 0);\nconst workerOutput = Number(tokenUsage?.worker?.output_tokens || 0);\n\nconst finalCooInput = Number(data.coo_final_token_usage.input_tokens || 0);\nconst finalCooOutput = Number(data.coo_final_token_usage.output_tokens || 0);\n\nconst cooTotalInput = existingCooInput + finalCooInput;\nconst cooTotalOutput = existingCooOutput + finalCooOutput;\n\nconst totalInput = cooTotalInput + researchInput + workerInput;\nconst totalOutput = cooTotalOutput + researchOutput + workerOutput;\nconst totalTokens = totalInput + totalOutput;\n\nreturn [\n  {\n    json: {\n      ...data,\n      runtime_context: {\n        ...runtimeContext,\n        active_stage: 'final_result_ready',\n        final_result: data.final_result,\n        model_states: {\n          ...modelStates,\n          coo: {\n            ...(modelStates.coo || {}),\n            status: 'completed'\n          }\n        },\n        token_usage: {\n          ...tokenUsage,\n          coo: {\n            ...(tokenUsage.coo || {}),\n            input_tokens: cooTotalInput,\n            output_tokens: cooTotalOutput\n          },\n          total_input_tokens: totalInput,\n          total_output_tokens: totalOutput,\n          total_tokens: totalTokens\n        }\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        2048
      ],
      "id": "9fea63ef-7e17-4460-9c39-47f8f5863992",
      "name": "P1_PREPARE_COO_FINAL_RESULT_STATE"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "jobs",
        "updateKey": "job_id",
        "columns": "runtime_context"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        4544,
        2048
      ],
      "id": "12a4bbd9-b331-49f0-8495-1085c6bb122a",
      "name": "P1_STORE_FINAL_RESULT",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.job_id) {\n  throw new Error('PREPARE_GRADING_STATE_FAILED: missing job_id');\n}\n\nif (!data.runtime_context || typeof data.runtime_context !== 'object') {\n  throw new Error('PREPARE_GRADING_STATE_FAILED: missing runtime_context');\n}\n\nconst runtimeContext = data.runtime_context;\nconst modelStates = runtimeContext.model_states || {};\n\nreturn [\n  {\n    json: {\n      ...data,\n      runtime_context: {\n        ...runtimeContext,\n        active_stage: 'grading',\n        model_states: {\n          ...modelStates,\n          grader: {\n            ...(modelStates.grader || {}),\n            status: 'in_progress'\n          }\n        }\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4768,
        2048
      ],
      "id": "1fc2dda1-66ed-4f6e-8b02-47d6dc2f7bd1",
      "name": "P1_PREPARE_GRADING_STATE"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "jobs",
        "updateKey": "job_id",
        "columns": "runtime_context"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        4992,
        2048
      ],
      "id": "b4c6e0f0-53b0-48c0-9510-310bee506439",
      "name": "P1_SET_GRADING_IN_PROGRESS",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are the grader agent inside the NXQ runtime.\n\nYour task is to evaluate whether the final result satisfies the original job request.\n\nGrade only the provided result.\nDo not rewrite the result.\nDo not add new solution content.\nReturn ONLY valid JSON in the following structure:\n\n{\n  \"score\": 0,\n  \"pass_fail\": \"\",\n  \"risk_flags\": [\n    {\n      \"id\": \"risk_1\",\n      \"detail\": \"\"\n    }\n  ],\n  \"grading_summary\": \"\",\n  \"governance_recommendation\": \"\"\n}\n\nRules:\n- score must be an integer from 0 to 100\n- pass_fail must be either \"pass\" or \"fail\"\n- governance_recommendation must be one of:\n  \"approve\"\n  \"request_revision\"\n  \"reject\""
            },
            {
              "content": "=Original job prompt:\n{{$json.prompt}}\n\nFinal result:\n{{$json.runtime_context.final_result}}\n\nEvaluate the final result and return valid JSON only."
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        5216,
        1968
      ],
      "id": "fb1aa0cb-d97d-4139-aabf-3be20296a11e",
      "name": "P1_GRADER_MODEL_CALL",
      "credentials": {
        "openAiApi": {
          "id": "2J7VIgVFv5KFkW4G",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nconst grading = data?.output?.[0]?.content?.[0]?.text;\n\nif (!grading || typeof grading !== 'object') {\n  throw new Error('GRADER_NORMALIZATION_FAILED: invalid grading structure');\n}\n\nif (typeof grading.score !== 'number') {\n  throw new Error('GRADER_NORMALIZATION_FAILED: score must be number');\n}\n\nif (!['pass', 'fail'].includes(grading.pass_fail)) {\n  throw new Error('GRADER_NORMALIZATION_FAILED: pass_fail must be pass or fail');\n}\n\nif (!Array.isArray(grading.risk_flags)) {\n  throw new Error('GRADER_NORMALIZATION_FAILED: risk_flags must be array');\n}\n\nif (typeof grading.grading_summary !== 'string') {\n  throw new Error('GRADER_NORMALIZATION_FAILED: missing grading_summary');\n}\n\nif (!['approve','request_revision','reject'].includes(grading.governance_recommendation)) {\n  throw new Error('GRADER_NORMALIZATION_FAILED: invalid governance_recommendation');\n}\n\nconst usage = data.usage || {};\n\nreturn [\n  {\n    json: {\n      job_id: data.job_id,\n      assigned_agent_id: data.assigned_agent_id,\n      assigned_instance_id: data.assigned_instance_id,\n      identity_fingerprint: data.identity_fingerprint,\n      job_type: data.job_type,\n      prompt: data.prompt,\n      runtime_context: data.runtime_context,\n\n      grading_result: {\n        score: grading.score,\n        pass_fail: grading.pass_fail,\n        risk_flags: grading.risk_flags,\n        grading_summary: grading.grading_summary,\n        governance_recommendation: grading.governance_recommendation\n      },\n\n      grader_token_usage: {\n        input_tokens: Number(usage.input_tokens || 0),\n        output_tokens: Number(usage.output_tokens || 0),\n        total_tokens: Number(usage.total_tokens || 0)\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5568,
        1968
      ],
      "id": "755a59f1-72a5-4842-8f25-e2258456c029",
      "name": "P1_NORMALIZE_GRADER_OUTPUT"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (!data.job_id) {\n  throw new Error('PREPARE_GRADING_RESULT_STATE_FAILED: missing job_id');\n}\n\nif (!data.runtime_context || typeof data.runtime_context !== 'object') {\n  throw new Error('PREPARE_GRADING_RESULT_STATE_FAILED: runtime_context missing');\n}\n\nif (!data.grading_result) {\n  throw new Error('PREPARE_GRADING_RESULT_STATE_FAILED: grading_result missing');\n}\n\nif (!data.grader_token_usage) {\n  throw new Error('PREPARE_GRADING_RESULT_STATE_FAILED: grader_token_usage missing');\n}\n\nconst runtimeContext = data.runtime_context;\nconst modelStates = runtimeContext.model_states || {};\nconst tokenUsage = runtimeContext.token_usage || {};\n\nconst cooInput = Number(tokenUsage?.coo?.input_tokens || 0);\nconst cooOutput = Number(tokenUsage?.coo?.output_tokens || 0);\nconst researchInput = Number(tokenUsage?.research?.input_tokens || 0);\nconst researchOutput = Number(tokenUsage?.research?.output_tokens || 0);\nconst workerInput = Number(tokenUsage?.worker?.input_tokens || 0);\nconst workerOutput = Number(tokenUsage?.worker?.output_tokens || 0);\n\nconst graderInput = Number(data.grader_token_usage.input_tokens || 0);\nconst graderOutput = Number(data.grader_token_usage.output_tokens || 0);\n\nconst totalInput = cooInput + researchInput + workerInput + graderInput;\nconst totalOutput = cooOutput + researchOutput + workerOutput + graderOutput;\nconst totalTokens = totalInput + totalOutput;\n\nreturn [\n  {\n    json: {\n      ...data,\n      runtime_context: {\n        ...runtimeContext,\n        active_stage: 'grading_complete',\n\n        grading_result: data.grading_result,\n\n        model_states: {\n          ...modelStates,\n          grader: {\n            ...(modelStates.grader || {}),\n            status: 'completed'\n          }\n        },\n\n        token_usage: {\n          ...tokenUsage,\n\n          grader: {\n            input_tokens: graderInput,\n            output_tokens: graderOutput\n          },\n\n          total_input_tokens: totalInput,\n          total_output_tokens: totalOutput,\n          total_tokens: totalTokens\n        }\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6016,
        2048
      ],
      "id": "2003c6aa-6da4-40f9-ae21-3793cb68598a",
      "name": "P1_PREPARE_GRADING_RESULT_STATE"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5792,
        2048
      ],
      "id": "3032c5c5-d0b4-4753-b5bb-451154f16c1b",
      "name": "Merge8"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "jobs",
        "updateKey": "job_id",
        "columns": "runtime_context"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        6240,
        2048
      ],
      "id": "e9ca5c52-3bb7-4694-abb9-d278f487a7bb",
      "name": "P1_STORE_GRADING_RESULT",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "jobs",
        "updateKey": "job_id",
        "columns": "status"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        6688,
        2048
      ],
      "id": "58b42ed2-3661-4327-bdb1-54d61f5acf5d",
      "name": "P1_STORE_GRADING_RESULT1",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab771c88-0813-4e41-a4b6-02527e5f3ae5",
              "name": "status",
              "value": "AWAITING_APPROVAL",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6464,
        2048
      ],
      "id": "4ce67e3e-52d3-4411-a4f2-ae54fe4a76f7",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require(\"crypto\");\nconst agent = items[0].json;\n\nconst required = [\n  \"agent_id\",\n  \"owner_org_id\",\n  \"jurisdiction\",\n  \"governance_profile\",\n  \"identity_fingerprint\",\n  \"mission_hash\",\n  \"policy_hash\"\n];\n\nfor (const key of required) {\n  if (\n    agent[key] === undefined ||\n    agent[key] === null ||\n    String(agent[key]).trim() === \"\"\n  ) {\n    throw new Error(`missing_agent_identity_field:${key}`);\n  }\n}\n\nconst continuityStatus = String(agent.continuity_status || \"ACTIVE\").toUpperCase();\n\nif (continuityStatus === \"QUARANTINED\") {\n  throw new Error(\"agent_quarantined\");\n}\n\nconst s = (v) => (v === null || v === undefined ? \"\" : String(v).trim());\n\nconst canonicalIdentity = {\n  agent_id: s(agent.agent_id),\n  governance_profile: s(agent.governance_profile),\n  identity_version: s(agent.identity_version || \"v1\"),\n  jurisdiction: s(agent.jurisdiction),\n  mission_hash: s(agent.mission_hash),\n  owner_org_id: s(agent.owner_org_id),\n  policy_hash: s(agent.policy_hash),\n  public_key: s(agent.public_key)\n};\n\n// IMPORTANT: sort keys exactly like create-agent node\nconst canonicalIdentityJson = JSON.stringify(\n  Object.keys(canonicalIdentity)\n    .sort()\n    .reduce((acc, key) => {\n      acc[key] = canonicalIdentity[key];\n      return acc;\n    }, {})\n);\n\nconst recomputedFingerprint =\n  \"hex:0x\" +\n  crypto.createHash(\"sha256\").update(canonicalIdentityJson).digest(\"hex\");\n\nconst storedFingerprint = String(agent.identity_fingerprint).trim();\n\nconst identityVerified = recomputedFingerprint === storedFingerprint;\n\nreturn [\n  {\n    json: {\n      ...agent,\n      canonical_identity_json: canonicalIdentity,\n      canonical_identity_json_string: canonicalIdentityJson,\n      recomputed_identity_fingerprint: recomputedFingerprint,\n      identity_verified: identityVerified,\n      identity_verification_mode: \"canonical_recompute\",\n      requested_agent_id: agent.agent_id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3488,
        1520
      ],
      "id": "0075713e-c136-406b-a578-fbde22b30bc3",
      "name": "P1_BUILD_CANONICAL_IDENTITY_JSON"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nconst now = new Date().toISOString();\nconst trace_id = `trace_${Date.now()}_fingerprint`;\n\nif (!data.job_id) throw new Error(\"missing_job_id\");\nif (!data.assigned_agent_id) throw new Error(\"missing_assigned_agent_id\");\nif (!data.assigned_instance_id) throw new Error(\"missing_assigned_instance_id\");\nif (!data.identity_fingerprint) throw new Error(\"missing_identity_fingerprint\");\n\nreturn [\n  {\n    json: {\n      trace_id,\n      job_id: data.job_id,\n      agent_id: data.assigned_agent_id,\n      instance_id: data.assigned_instance_id,\n      identity_fingerprint: data.identity_fingerprint,\n      event_type: \"FINGERPRINT_VERIFIED\",\n      event_status: \"verified\",\n      timestamp: now\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        1456
      ],
      "id": "247ba155-8eff-408d-8059-5be8bb298da5",
      "name": "P1_BUILD_FINGERPRINT_VERIFIED_TRACE"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "execution_traces",
        "updateKey": "trace_id",
        "columns": "trace_id,job_id,agent_id,instance_id,identity_fingerprint,event_type,event_status,timestamp"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        1248,
        1456
      ],
      "id": "39a02f06-cc15-47c3-a696-ce9fbf383814",
      "name": "P1_CREATE_FINGERPRINT_TRACE_RECORD",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "397e7687-ebb7-4da0-b207-9b29774000a4",
              "name": "instance_identity_fingerprint",
              "value": "={{ $json.identity_fingerprint }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "identity_fingerprint",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3136,
        2112
      ],
      "id": "81c6e953-e6de-4a51-b054-81ac75f02bf7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst agent = items[0].json;\n\nif (!agent.agent_id) {\n  throw new Error('missing_agent_id');\n}\n\nif (!agent.canonical_identity_json) {\n  throw new Error('missing_canonical_identity_json');\n}\n\nif (!agent.identity_fingerprint) {\n  throw new Error('missing_identity_fingerprint');\n}\n\nconst canonical =\n  typeof agent.canonical_identity_json === 'string'\n    ? agent.canonical_identity_json\n    : JSON.stringify(agent.canonical_identity_json);\n\nconst recomputed =\n  'hex:0x' + crypto.createHash('sha256').update(canonical).digest('hex');\n\nconst stored = String(agent.identity_fingerprint).trim();\nconst identity_verified = recomputed === stored;\n\nreturn [\n  {\n    json: {\n      ...agent,\n      recomputed_identity_fingerprint: recomputed,\n      identity_verified,\n      verification_checked_at: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3264,
        1520
      ],
      "id": "746d77e8-b6b0-49ac-b05e-f2488e4a77e2",
      "name": "VERIFY_AGENT_FINGERPRINT"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst now = new Date().toISOString();\n\nif (!data.agent_id) {\n  throw new Error(\"missing_agent_id\");\n}\n\nreturn [\n  {\n    json: {\n      ...data,\n      agent_id: data.agent_id,\n      continuity_status: \"QUARANTINED\",\n      continuity_last_seen_at: now,\n      quarantine_reason:\n        data.quarantine_reason ||\n        \"IDENTITY_FINGERPRINT_MISMATCH\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2816,
        1616
      ],
      "id": "f400f8cd-5b22-4076-8536-bccd337d1c0b",
      "name": "BUILD_IDENTITY_QUARANTINE_PAYLOAD"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "agents",
        "updateKey": "agent_id",
        "columns": "agent_id,continuity_status,continuity_last_seen_at,quarantine_reason"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -2576,
        1616
      ],
      "id": "597e911c-69be-45dd-9456-326fa60691c2",
      "name": "QUARANTINE_AGENT_IDENTITY_FAILURE",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": false,\n  \"error\": \"IDENTITY_FINGERPRINT_MISMATCH\",\n  \"status\": \"QUARANTINED\"\n}",
        "options": {
          "responseCode": 409
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1856,
        1616
      ],
      "id": "b0494769-29f5-4033-8131-bfbd3c70a8d7",
      "name": "RESPOND_IDENTITY_QUARANTINED"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\n\nconst now = new Date().toISOString();\n\n// Preserve existing instance values if they already exist\nconst instance_id =\n  input.instance_id ||\n  `inst_${input.agent_id || \"agent\"}_${Date.now()}`;\n\nconst started_at = input.started_at || now;\nconst last_seen_at = now;\n\n// Required checks\nif (!input.agent_id) {\n  throw new Error(\"missing_agent_id\");\n}\n\nif (!input.identity_fingerprint) {\n  throw new Error(\"missing_identity_fingerprint\");\n}\n\n// Build instance payload\nconst instance_payload = {\n  instance_id,\n  agent_id: input.agent_id,\n  identity_fingerprint: input.identity_fingerprint,\n  status: input.status || \"RUNNING\",\n  started_at,\n  last_seen_at,\n  ended_at: input.ended_at || null,\n  host_build_id: input.host_build_id || \"nxq-node-01\",\n  runtime_version: input.runtime_version || \"nxq-runtime-v1\"\n};\n\n// Build identity verification trace\nconst event_id = `evt_identity_verified_${Date.now()}`;\n\nconst trace_event = {\n  event_id,\n  agent_id: input.agent_id,\n  identity_fingerprint: input.identity_fingerprint,\n  instance_id,\n  event_type: \"IDENTITY_VERIFIED\",\n  event_scope: \"INSTANCE_BOOT\",\n  timestamp: now\n};\n\nreturn [\n  {\n    json: {\n      ...input,\n      instance_id,\n      started_at,\n      last_seen_at,\n      instance_payload,\n      trace_event\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2368,
        1472
      ],
      "id": "47e568ee-b221-46b8-ade1-7d8a5dc0066a",
      "name": "BUILD_IDENTITY_VERIFIED_TRACE"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "agent_instances",
        "updateKey": "instance_id",
        "columns": "instance_id,agent_id,identity_fingerprint,status,started_at,last_seen_at,ended_at,host_build_id,runtime_version"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -1488,
        1152
      ],
      "id": "44ab908a-d7a8-4218-90a8-ee7aba1f4424",
      "name": "Firestore: Update Completed",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "execution_traces",
        "updateKey": "event_id",
        "columns": "event_id,agent_id,identity_fingerprint,instance_id,event_type,event_scope,timestamp"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -1152,
        1184
      ],
      "id": "edc26e5a-a1f7-4ca8-92de-532dfd915ff2",
      "name": "trace event firestore",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "agents",
        "updateKey": "agent_id",
        "columns": "agent_id,continuity_status,continuity_fork_flag,continuity_last_seen_at,quarantine_reason,fork_reason"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -784,
        1712
      ],
      "id": "7dbbb068-8307-47da-aabd-a6b07d1e49d3",
      "name": "Acquire Lease1",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst now = new Date().toISOString();\n\nif (!data.agent_id) {\n  throw new Error(\"missing_agent_id\");\n}\n\nconst current_instance_id =\n  data.instance_id ||\n  data.current_instance_id ||\n  null;\n\nconst canonical_instance_id =\n  data.continuity_current_instance_id ||\n  data.lease_current_instance_id ||\n  data.active_instance_id ||\n  null;\n\nconst fork_detected =\n  !!current_instance_id &&\n  !!canonical_instance_id &&\n  current_instance_id !== canonical_instance_id;\n\nreturn [\n  {\n    json: {\n      ...data,\n      fork_detected,\n      continuity_status: \"QUARANTINED\",\n      continuity_last_seen_at: now,\n      quarantine_reason: \"FORK_DETECTED\",\n      fork_flag: true,\n      fork_detected_at: now,\n      conflicting_instance_id: current_instance_id,\n      canonical_instance_id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3600,
        992
      ],
      "id": "2d10d457-adf4-472e-b4af-b8f095400a73",
      "name": "BUILD_FORK_QUARANTINE_PAYLOAD"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "agents",
        "updateKey": "agent_id",
        "columns": "agent_id,continuity_status,continuity_fork_flag,continuity_last_seen_at,quarantine_reason,fork_reason"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -3328,
        992
      ],
      "id": "12f3c853-4d54-4f7f-bbed-aa0b70deb1f7",
      "name": "QUARANTINE_AGENT_ON_FORK_DETECTED",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "jobs",
        "updateKey": "job_id",
        "columns": "job_id,status,rejected_at,rejection_reason,updated_at"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -2432,
        992
      ],
      "id": "f7962b32-1767-4740-8ef7-07f850be0f0f",
      "name": "Firestore: Update Rejected2",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst now = new Date().toISOString();\n\nconst resurrection_event_id = `res_${Date.now()}`;\n\nconst prior_instance_id =\n  data.prior_instance_id ||\n  data.previous_instance_id ||\n  data.continuity_current_instance_id ||\n  data.agent?.continuity_current_instance_id ||\n  null;\n\nconst new_instance_id =\n  data.instance_id || null;\n\nconst is_resurrection_event =\n  !!prior_instance_id &&\n  !!new_instance_id &&\n  prior_instance_id !== new_instance_id;\n\nconst verification_status =\n  data.identity_fingerprint\n    ? \"fingerprint_match\"\n    : \"fingerprint_missing\";\n\nconst reason =\n  data.resurrection_reason ||\n  (is_resurrection_event ? \"runtime_restart\" : \"initial_boot\");\n\nreturn [\n  {\n    json: {\n      ...data,\n      resurrection_event_id,\n      agent_id: data.agent_id || null,\n      identity_fingerprint: data.identity_fingerprint || null,\n      prior_instance_id,\n      new_instance_id,\n      is_resurrection_event,\n      reason,\n      verification_status,\n      timestamp: now\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        1120
      ],
      "id": "820dcee9-b4d8-4b74-9d1f-1b6531fbe276",
      "name": "BUILD_RESURRECTION_EVENT"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "peak-catbird-487804-j1",
        "collection": "resurrection_events",
        "updateKey": "resurrection_event_id",
        "columns": "=resurrection_event_id,agent_id,identity_fingerprint,prior_instance_id,new_instance_id,reason,verification_status,timestamp"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -1680,
        992
      ],
      "id": "bb0a88e0-842e-43b6-91cd-08ad1ea98338",
      "name": "CREATE_RESURRECTION_EVENT_RECORD",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst now = new Date().toISOString();\n\nconst trace_id = `trace_approved_${Date.now()}`;\n\nif (!data.job_id) {\n  throw new Error(\"missing_job_id\");\n}\n\nreturn [\n  {\n    json: {\n      ...data,\n      trace_id,\n      job_id: data.job_id,\n      agent_id: data.assigned_agent_id || data.agent_id || null,\n      instance_id: data.assigned_instance_id || data.instance_id || null,\n      identity_fingerprint: data.identity_fingerprint || null,\n      event_type: \"APPROVED\",\n      event_status: \"approved\",\n      timestamp: now\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3168,
        448
      ],
      "id": "871be0cd-5d34-4f8d-bdc8-08ab462149a5",
      "name": "BUILD_APPROVAL_TRACE"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "execution_traces",
        "updateKey": "trace_id",
        "columns": "trace_id,job_id,agent_id,instance_id,identity_fingerprint,event_type,event_status,timestamp"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -2896,
        448
      ],
      "id": "5176d07e-9a7a-47c6-86a6-239ffa5897c5",
      "name": "CREATE_APPROVAL_TRACE_RECORD",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst now = new Date().toISOString();\n\nconst trace_id = `trace_rejected_${Date.now()}`;\n\nif (!data.job_id) {\n  throw new Error(\"missing_job_id\");\n}\n\nreturn [\n  {\n    json: {\n      ...data,\n      trace_id,\n      job_id: data.job_id,\n      agent_id: data.assigned_agent_id || data.agent_id || null,\n      instance_id: data.assigned_instance_id || data.instance_id || null,\n      identity_fingerprint: data.identity_fingerprint || null,\n      event_type: \"REJECTED\",\n      event_status: \"rejected\",\n      timestamp: now\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3376,
        672
      ],
      "id": "7c7692d1-4a9b-4fa5-a35e-6d181ce73094",
      "name": "BUILD_REJECTION_TRACE"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "=peak-catbird-487804-j1",
        "collection": "execution_traces",
        "updateKey": "trace_id",
        "columns": "trace_id,job_id,agent_id,instance_id,identity_fingerprint,event_type,event_status,timestamp"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -3040,
        672
      ],
      "id": "271d77dc-1dcb-46df-9fd1-eeb97e3b45cf",
      "name": "CREATE_REJECTION_TRACE_RECORD",
      "credentials": {
        "googleApi": {
          "id": "d4SwdYuApCUnneot",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst now = new Date().toISOString();\n\nconst currentInstanceId = data.instance_id || null;\n\n// try to find the previously known active instance\nconst priorInstanceId =\n  data.prior_instance_id ||\n  data.previous_instance_id ||\n  data.continuity_current_instance_id ||\n  data.agent?.continuity_current_instance_id ||\n  null;\n\n// try to find the previously stored resurrection count\nconst priorCountRaw =\n  data.previous_continuity_resurrection_count ??\n  data.continuity_resurrection_count ??\n  data.agent?.continuity_resurrection_count ??\n  0;\n\nconst priorCount = Number(priorCountRaw || 0);\n\nconst isResurrection =\n  !!priorInstanceId &&\n  !!currentInstanceId &&\n  priorInstanceId !== currentInstanceId;\n\nconst nextCount = isResurrection ? priorCount + 1 : priorCount;\n\nreturn [\n  {\n    json: {\n      ...data,\n      continuity_current_instance_id: currentInstanceId,\n      continuity_last_seen_at: data.last_seen_at || now,\n      continuity_status: data.status || \"RUNNING\",\n      continuity_resurrection_count: nextCount\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        1504
      ],
      "id": "5ed5c95e-4f44-4b72-a2b4-44f6e2d3bdb0",
      "name": "BUILD_AGENT_CONTINUITY_UPDATE"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "14b6f280-bfc6-4d14-8a07-a0ed8379c329",
              "leftValue": "={{ $json.is_resurrection_event }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1952,
        1120
      ],
      "id": "6fd13e5c-1c67-4bba-8467-a3685db9d181",
      "name": "IS_RESURRECTION_EVENT"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nreturn [\n  {\n    json: {\n      agent_id: data.agent_id,\n      continuity_status: \"QUARANTINED\",\n      continuity_fork_flag: true,\n      continuity_last_seen_at: new Date().toISOString(),\n      quarantine_reason: \"LEASE_HELD_BY_OTHER_INSTANCE\",\n      fork_reason: data.lease_reason || \"lease_held_by_other_instance\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        1680
      ],
      "id": "9ecd1be5-9524-45ef-958b-b16ae4fe2f8a",
      "name": "BUILD_LEASE_FORK_QUARANTINE_PAYLOAD"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst now = new Date().toISOString();\n\nconst job_id =\n  data.job_id ||\n  data.canonical_job_id ||\n  data.incoming_job_id ||\n  null;\n\nif (!job_id) {\n  throw new Error(\"missing_job_id_for_fork_rejection\");\n}\n\nreturn [\n  {\n    json: {\n      ...data,\n      job_id,\n      status: \"rejected\",\n      rejected_at: now,\n      rejection_reason:\n        data.rejection_reason ||\n        data.block_reason ||\n        \"FORK_DETECTED\",\n      updated_at: now\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2896,
        992
      ],
      "id": "3537b27d-f9a3-4cf8-81dd-81477550c62f",
      "name": "BUILD_FORK_JOB_REJECTION_PAYLOAD"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst now = new Date().toISOString();\n\nconst job_id =\n  data.job_id ||\n  data.execution_id ||\n  data.request_id ||\n  null;\n\nif (!job_id) {\n  throw new Error(\"missing_job_id\");\n}\n\nreturn [\n  {\n    json: {\n      ...data,\n      job_id,\n      status: \"approved\",\n      approved_at: now,\n      approved_by:\n        data.approved_by ||\n        data.reviewer_id ||\n        data.governance_actor_id ||\n        \"human_governance\",\n      updated_at: now\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3600,
        448
      ],
      "id": "cec77caa-36e7-45f1-a39d-0504fc7ef136",
      "name": "BUILD_APPROVAL_PAYLOAD"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst now = new Date().toISOString();\n\nconst job_id =\n  data.job_id ||\n  data.execution_id ||\n  data.request_id ||\n  null;\n\nif (!job_id) {\n  throw new Error(\"missing_job_id\");\n}\n\nreturn [\n  {\n    json: {\n      ...data,\n      job_id,\n      status: \"rejected\",\n      rejected_at: now,\n      rejection_reason:\n        data.rejection_reason ||\n        data.review_reason ||\n        data.governance_reason ||\n        \"human_rejection\",\n      updated_at: now\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2688,
        992
      ],
      "id": "7d1a4846-7050-4645-9bf7-484117c948ae",
      "name": "BUILD_REJECTION_TRACE1"
    }
  ],
  "pinData": {
    "P1_ROUTER_WEBHOOK_IN": [
      {
        "json": {
          "headers": {
            "host": "nxq3.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Mobile Safari/537.36",
            "content-length": "30",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-GB,en;q=0.9",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2409:40d6:1194:4384:2d42:bce4:98d7:3063",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9d85dc34dc7a4d7f-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Not:A-Brand\";v=\"99\", \"Brave\";v=\"145\", \"Chromium\";v=\"145\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "sec-gpc": "1",
            "x-forwarded-for": "2409:40d6:1194:4384:2d42:bce4:98d7:3063, 172.69.151.135",
            "x-forwarded-host": "nxq3.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-7-77fc66445c-kt69w",
            "x-is-trusted": "yes",
            "x-real-ip": "2409:40d6:1194:4384:2d42:bce4:98d7:3063"
          },
          "params": {},
          "query": {},
          "body": {
            "job_id": "job_1773002507485"
          },
          "webhookUrl": "https://nxq3.app.n8n.cloud/webhook-test/job-execution-router",
          "executionMode": "test"
        }
      }
    ],
    "P1_JOB_INTAKE": [
      {
        "json": {
          "headers": {
            "host": "nxq3.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Mobile Safari/537.36",
            "content-length": "150",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-GB,en;q=0.9",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2409:40d6:100e:18e2:54d8:38ee:8814:43be",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9d947d7ecf089193-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Not:A-Brand\";v=\"99\", \"Brave\";v=\"145\", \"Chromium\";v=\"145\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "sec-gpc": "1",
            "x-forwarded-for": "2409:40d6:100e:18e2:54d8:38ee:8814:43be, 172.70.250.16",
            "x-forwarded-host": "nxq3.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-7-77fc66445c-smhhh",
            "x-is-trusted": "yes",
            "x-real-ip": "2409:40d6:100e:18e2:54d8:38ee:8814:43be"
          },
          "params": {},
          "query": {},
          "body": {
            "requested_agent_id": "agent_coo",
            "user_id": "user_subham",
            "job_type": "research",
            "prompt": "Create a short research brief about NVIDIA AI-RAN roadmap."
          },
          "webhookUrl": "https://nxq3.app.n8n.cloud/webhook-test/job-intake",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "nxq3.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Mobile Safari/537.36",
            "content-length": "770",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-GB,en;q=0.9",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2409:40d6:100e:18e2:54d8:38ee:8814:43be",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9d950d76ce4ed2f7-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Not:A-Brand\";v=\"99\", \"Brave\";v=\"145\", \"Chromium\";v=\"145\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "sec-gpc": "1",
            "x-forwarded-for": "2409:40d6:100e:18e2:54d8:38ee:8814:43be, 172.71.164.225",
            "x-forwarded-host": "nxq3.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-7-77fc66445c-6r6gv",
            "x-is-trusted": "yes",
            "x-real-ip": "2409:40d6:100e:18e2:54d8:38ee:8814:43be"
          },
          "params": {},
          "query": {},
          "body": {
            "acelogic_id": "#us#.agent.dimensional.core.novaxquantuminc.",
            "agent_class": "dimensional",
            "agent_id": "agent_coo",
            "display_name": "NXQ COO",
            "owner_org_id": "org_nxq",
            "jurisdiction": "India",
            "governance_profile": "NXQ_INTERNAL_GOV_01",
            "mission": "NXQ COO (Control & Orchestration Operator)",
            "identity_fingerprint": "hex:0x3cd070e1d5c034939c0f657896e8af3ec7bba4c8984c1a7ebfd4a091a9d601bd",
            "continuity": {
              "status": "ACTIVE",
              "current_instance_id": null,
              "lease_expires_at": null,
              "last_seen_at": null,
              "resurrection_count": 0,
              "fork_flag": false
            },
            "anchors": {
              "covenant_hash": "hex:0x3cd070e1d5c034939c0f657896e8af3ec7bba4c8984c1a7ebfd4a091a9d601bd",
              "cvr_polygon": "hex:0xb3f82110357c5a0c4af4402506a99e",
              "cvr_xrpl": "hex:0C85D4981ADB99EED86BAFC45AB882AD"
            },
            "created_at": "2026-03-05T14:51:12+05:30"
          },
          "webhookUrl": "https://nxq3.app.n8n.cloud/webhook-test/create-agent",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Get Job By ID": {
      "main": [
        [
          {
            "node": "Firestore: Get Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Jobs": {
      "main": [
        [
          {
            "node": "Firestore: List Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Approve": {
      "main": [
        [
          {
            "node": "Firestore: Get Job2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Reject": {
      "main": [
        [
          {
            "node": "Firestore: Get Job3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Firestore: Update Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "BUILD_APPROVAL_PAYLOAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firestore: Get Job2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firestore: Get Job3": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fork Simulate": {
      "main": [
        [
          {
            "node": "Firestore: Get Job4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firestore: Get Job4": {
      "main": [
        [
          {
            "node": "Fork Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fork Detector": {
      "main": [
        [
          {
            "node": "BUILD_FORK_QUARANTINE_PAYLOAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Firestore: Update Completed2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firestore: Update Completed3": {
      "main": [
        [
          {
            "node": "BUILD_RESURRECTION_EVENT",
            "type": "main",
            "index": 0
          },
          {
            "node": "BUILD_IDENTITY_VERIFIED_TRACE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Agent": {
      "main": [
        [
          {
            "node": "P1_BUILD_CANONICAL_IDENTITY_JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Build Instance Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BUILD_IDENTITY_QUARANTINE_PAYLOAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Lease": {
      "main": [
        [
          {
            "node": "P1_MERGE_CONTEXT_AFTER_LEASE",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Instance Payload": {
      "main": [
        [
          {
            "node": "Firestore: Update Completed3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firestore: Update Completed4": {
      "main": [
        [
          {
            "node": "P1_MERGE_JOB_AND_RUNTIME_SOURCE",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "P1_JOB_INTAKE": {
      "main": [
        [
          {
            "node": "Code — Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Validate Input": {
      "main": [
        [
          {
            "node": "Code — Resolve Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Resolve Agent": {
      "main": [
        [
          {
            "node": "Get Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "P1_MERGE_JOB_AND_RUNTIME_SOURCE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_NORMALIZE_RUNTIME_CONTEXT": {
      "main": [
        [
          {
            "node": "P1_LEASE_CHECK",
            "type": "main",
            "index": 0
          },
          {
            "node": "P1_MERGE_CONTEXT_AFTER_LEASE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_MERGE_JOB_AND_RUNTIME_SOURCE": {
      "main": [
        [
          {
            "node": "P1_NORMALIZE_RUNTIME_CONTEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_LEASE_CHECK": {
      "main": [
        [
          {
            "node": "P1_LEASE_ALLOWED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_LEASE_ALLOWED": {
      "main": [
        [
          {
            "node": "P1_BUILD_LEASE_UPDATE_PAYLOAD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BUILD_LEASE_FORK_QUARANTINE_PAYLOAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_BUILD_LEASE_UPDATE_PAYLOAD": {
      "main": [
        [
          {
            "node": "Acquire Lease",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_MERGE_CONTEXT_AFTER_LEASE": {
      "main": [
        [
          {
            "node": "P1_CREATE_JOB_PAYLOAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_CREATE_JOB_RECORD": {
      "main": [
        [
          {
            "node": "P1_BUILD_JOB_CREATED_TRACE",
            "type": "main",
            "index": 0
          },
          {
            "node": "P1_BUILD_FINGERPRINT_VERIFIED_TRACE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_CREATE_JOB_PAYLOAD": {
      "main": [
        [
          {
            "node": "P1_CREATE_JOB_RECORD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_CREATE_JOB_TRACE_RECORD": {
      "main": [
        []
      ]
    },
    "P1_BUILD_JOB_CREATED_TRACE": {
      "main": [
        [
          {
            "node": "P1_CREATE_JOB_TRACE_RECORD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_ROUTER_WEBHOOK_IN": {
      "main": [
        [
          {
            "node": "P1_VALIDATE_JOB_EXECUTION_INPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_VALIDATE_JOB_EXECUTION_INPUT": {
      "main": [
        [
          {
            "node": "P1_LOAD_JOB_RECORD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_LOAD_JOB_RECORD": {
      "main": [
        [
          {
            "node": "P1_VALIDATE_JOB_RECORD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_VALIDATE_JOB_RECORD": {
      "main": [
        [
          {
            "node": "P1_VERIFY_AGENT_INSTANCE_LEASE",
            "type": "main",
            "index": 0
          },
          {
            "node": "P1_MERGE_JOB_AND_INSTANCE_CONTEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_VERIFY_AGENT_INSTANCE_LEASE": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_VALIDATE_ACTIVE_LEASE_AND_IDENTITY": {
      "main": [
        [
          {
            "node": "P1_SET_JOB_IN_PROGRESS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_MERGE_JOB_AND_INSTANCE_CONTEXT": {
      "main": [
        [
          {
            "node": "P1_VALIDATE_ACTIVE_LEASE_AND_IDENTITY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_SET_JOB_IN_PROGRESS": {
      "main": [
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "P1_COO_SET_PLANNING_STATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_COO_SET_PLANNING_STATE": {
      "main": [
        [
          {
            "node": "P1_COO_PLAN_MODEL_CALL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "P1_COO_PLAN_MODEL_CALL": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "P1_NORMALIZE_COO_PLAN_OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_NORMALIZE_COO_PLAN_OUTPUT": {
      "main": [
        [
          {
            "node": "P1_PREPARE_COO_PLAN_STATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_PREPARE_COO_PLAN_STATE": {
      "main": [
        [
          {
            "node": "P1_STORE_COO_PLAN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_STORE_COO_PLAN": {
      "main": [
        [
          {
            "node": "P1_ROUTE_PLAN_STEPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_ROUTE_PLAN_STEPS": {
      "main": [
        [
          {
            "node": "P1_PREPARE_RESEARCH_EXECUTION_STATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_PREPARE_RESEARCH_EXECUTION_STATE": {
      "main": [
        [
          {
            "node": "P1_SET_RESEARCH_IN_PROGRESS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_SET_RESEARCH_IN_PROGRESS": {
      "main": [
        [
          {
            "node": "P1_RESEARCH_MODEL_CALL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "P1_RESEARCH_MODEL_CALL": {
      "main": [
        [
          {
            "node": "P1_NORMALIZE_RESEARCH_OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_NORMALIZE_RESEARCH_OUTPUT": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "P1_PREPARE_RESEARCH_RESULT_STATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_PREPARE_RESEARCH_RESULT_STATE": {
      "main": [
        [
          {
            "node": "P1_STORE_RESEARCH_RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_STORE_RESEARCH_RESULT": {
      "main": [
        [
          {
            "node": "P1_PREPARE_WORKER_EXECUTION_STATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_PREPARE_WORKER_EXECUTION_STATE": {
      "main": [
        [
          {
            "node": "P1_SET_WORKER_IN_PROGRESS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_SET_WORKER_IN_PROGRESS": {
      "main": [
        [
          {
            "node": "P1_WORKER_MODEL_CALL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "P1_WORKER_MODEL_CALL": {
      "main": [
        [
          {
            "node": "P1_NORMALIZE_WORKER_OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_NORMALIZE_WORKER_OUTPUT": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "P1_PREPARE_WORKER_RESULT_STATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_PREPARE_WORKER_RESULT_STATE": {
      "main": [
        [
          {
            "node": "P1_STORE_WORKER_RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_STORE_WORKER_RESULT": {
      "main": [
        [
          {
            "node": "P1_PREPARE_COO_FINALIZATION_STATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_PREPARE_COO_FINALIZATION_STATE": {
      "main": [
        [
          {
            "node": "P1_SET_COO_FINALIZATION_IN_PROGRESS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_SET_COO_FINALIZATION_IN_PROGRESS": {
      "main": [
        [
          {
            "node": "P1_COO_FINAL_MODEL_CALL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "P1_COO_FINAL_MODEL_CALL": {
      "main": [
        [
          {
            "node": "P1_NORMALIZE_COO_FINAL_OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_NORMALIZE_COO_FINAL_OUTPUT": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "P1_PREPARE_COO_FINAL_RESULT_STATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_PREPARE_COO_FINAL_RESULT_STATE": {
      "main": [
        [
          {
            "node": "P1_STORE_FINAL_RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_STORE_FINAL_RESULT": {
      "main": [
        [
          {
            "node": "P1_PREPARE_GRADING_STATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_PREPARE_GRADING_STATE": {
      "main": [
        [
          {
            "node": "P1_SET_GRADING_IN_PROGRESS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_SET_GRADING_IN_PROGRESS": {
      "main": [
        [
          {
            "node": "P1_GRADER_MODEL_CALL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "P1_GRADER_MODEL_CALL": {
      "main": [
        [
          {
            "node": "P1_NORMALIZE_GRADER_OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_NORMALIZE_GRADER_OUTPUT": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "P1_PREPARE_GRADING_RESULT_STATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_PREPARE_GRADING_RESULT_STATE": {
      "main": [
        [
          {
            "node": "P1_STORE_GRADING_RESULT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_STORE_GRADING_RESULT": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "P1_STORE_GRADING_RESULT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_BUILD_CANONICAL_IDENTITY_JSON": {
      "main": [
        [
          {
            "node": "VERIFY_AGENT_FINGERPRINT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1_BUILD_FINGERPRINT_VERIFIED_TRACE": {
      "main": [
        [
          {
            "node": "P1_CREATE_FINGERPRINT_TRACE_RECORD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "P1_MERGE_JOB_AND_INSTANCE_CONTEXT",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "VERIFY_AGENT_FINGERPRINT": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_IDENTITY_QUARANTINE_PAYLOAD": {
      "main": [
        [
          {
            "node": "QUARANTINE_AGENT_IDENTITY_FAILURE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QUARANTINE_AGENT_IDENTITY_FAILURE": {
      "main": [
        [
          {
            "node": "RESPOND_IDENTITY_QUARANTINED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_IDENTITY_VERIFIED_TRACE": {
      "main": [
        [
          {
            "node": "Firestore: Update Completed",
            "type": "main",
            "index": 0
          },
          {
            "node": "trace event firestore",
            "type": "main",
            "index": 0
          },
          {
            "node": "BUILD_AGENT_CONTINUITY_UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Lease1": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_FORK_QUARANTINE_PAYLOAD": {
      "main": [
        [
          {
            "node": "QUARANTINE_AGENT_ON_FORK_DETECTED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QUARANTINE_AGENT_ON_FORK_DETECTED": {
      "main": [
        [
          {
            "node": "Firestore: Update Rejected1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firestore: Update Rejected1": {
      "main": [
        [
          {
            "node": "BUILD_FORK_JOB_REJECTION_PAYLOAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_RESURRECTION_EVENT": {
      "main": [
        [
          {
            "node": "IS_RESURRECTION_EVENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firestore: Update Approved": {
      "main": [
        [
          {
            "node": "BUILD_APPROVAL_TRACE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_APPROVAL_TRACE": {
      "main": [
        [
          {
            "node": "CREATE_APPROVAL_TRACE_RECORD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firestore: Update Rejected": {
      "main": [
        [
          {
            "node": "BUILD_REJECTION_TRACE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_REJECTION_TRACE": {
      "main": [
        [
          {
            "node": "CREATE_REJECTION_TRACE_RECORD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE_RESURRECTION_EVENT_RECORD": {
      "main": [
        []
      ]
    },
    "BUILD_AGENT_CONTINUITY_UPDATE": {
      "main": [
        [
          {
            "node": "Firestore: Update Completed4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IS_RESURRECTION_EVENT": {
      "main": [
        [
          {
            "node": "CREATE_RESURRECTION_EVENT_RECORD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_LEASE_FORK_QUARANTINE_PAYLOAD": {
      "main": [
        [
          {
            "node": "Acquire Lease1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_FORK_JOB_REJECTION_PAYLOAD": {
      "main": [
        [
          {
            "node": "BUILD_REJECTION_TRACE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_APPROVAL_PAYLOAD": {
      "main": [
        [
          {
            "node": "Firestore: Update Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_REJECTION_TRACE1": {
      "main": [
        [
          {
            "node": "Firestore: Update Rejected2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "4f026ce5-96a8-4f22-a3e8-f80a72dda72b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e440d961c930abf3d1df477fca0586210abd7f1a2fd56e0c1be1a5a2d2e3c9c"
  },
  "id": "EoLPx08LdI4UNIiy",
  "tags": []
}